/*full-width do 1920*/
body .container,
.external-fonts-loaded body .container,
body.blank-mode .container {
	max-width: 1920px;
	padding: 0 40px !important;
	margin: auto;
}
body .container.navigation-wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0 !important;
}
.top-navigation-bar {
	display: none;
}

/*caused overflow*/
body.blank-mode .container.breadcrumbs-wrapper:before,
.breadcrumbs-wrapper:before {
	display: none;
}

button:hover,
.button:hover,
.btn:hover,
.btn-primary:hover,
.products .product .btn:hover {
	background-color: var(--color-primary-hover);
}

/*Nadpisy na hl stránce*/
.content-wrapper .h4 {
	font-size: 1.6rem;
	width: fit-content;
	padding-bottom: 4px;
	margin-bottom: 20px;
}
.content-wrapper .h4::after {
	height: 1px;
	width: 100%;
}
