@media (max-width: 767px) {
	.ordering-process .cart-table tr {
		display: flex;
		position: relative;
		background: var(--color-gray-200);
		border-radius: calc(var(--border-radius) * 2);
		border-style: none;
		margin-bottom: calc(var(--gap) * 1.5);
		row-gap: 10px;
	}
	/**/
	.cart-table tr > td:nth-child(even).p-name {
		padding: 1px 0 0 10px;
		margin-bottom: auto;
		background: none;
		flex: 1;
		flex-basis: 83%;
	}
	/**/
	.ordering-process .cart-table td.p-name a {
		color: var(--color-black-800);
		font-weight: 600;
		display: block;
		width: 80%;
	}
	/*upravit*/
	.ordering-process .cart-table td.cart-p-image {
		flex-basis: 17%;
		margin: 0;
		padding: 0;
		padding-left: 2%;
	}
	/**/
	.ordering-process .p-availability.p-cell {
		display: none;
	}
	/**/
	.ordering-process .quantity {
		width: 100% !important;
		justify-content: space-between;
		height: 30px !important;
		border-color: #dddddd;
		padding: 0 !important;
	}
	/**/
	.ordering-process .p-quantity.p-cell {
		grid-column: 1;
		margin: 5px;
		padding: 0;
		display: flex;
		flex-basis: 18%;
		flex-grow: 0;
	}
	.ordering-process .p-quantity.p-cell,
	.ordering-process .p-quantity.p-cell form {
		background: transparent;
	}
	.ordering-process .p-quantity.p-cell > div {
		flex: 1;
	}
	/**/
	.ordering-process .quantity .increase,
	.ordering-process .quantity .decrease {
		height: 100% !important;
		padding: 0 12px;
		background: var(--color-gray-400);
		color: var(--color-black-800);
		margin: auto;
		width: 18px !important;
	}
	.ordering-process .quantity-form .quantity .decrease:before,
	.ordering-process .quantity-form .quantity .increase:before {
		line-height: 1;
	}
	.ordering-process .quantity .decrease {
		opacity: 0.85;
	}
	/**/
	.ordering-process .quantity .increase::before,
	.ordering-process .quantity .decrease::before {
		height: auto;
	}
	/**/
	.ordering-process .quantity .increase::before {
		left: -6px;
	}
	.ordering-process .quantity .decrease::before {
		left: -3px;
	}
	/**/
	.ordering-process .p-price {
		display: flex;
		margin-left: 0;
		padding: 0;
		padding-left: 20px;
		background: none;
		min-width: auto;
		width: auto;
	}

	.ordering-process .p-price strong,
	.ordering-process .p-price span {
		font-weight: 400;
	}
	.ordering-process .p-price .p-label {
		display: none;
	}
	/**/
	.ordering-process .cart-table tr > td.p-total {
		text-align: right;
		position: initial;
		background: none;
	}
	/**/
	.ordering-process .p-total form {
		top: 14px;
		right: 15px;
		transform: none;
	}
	.ordering-process .remove-item::before {
		color: var(--color-black-200);
		font-size: 10px;
	}
	.ordering-process .cart-table td.cart-p-image::after {
		border-radius: 0;
		background-color: hsla(203, 7%, 47%, 0.05);
	}
	.cart-table .p-quantity .quantity input {
		background: white;
		width: 40px;
		font-size: 14px;
	}
	.ordering-process .cart-inner tr .p-discount.p-cell {
		background: none;
		width: auto;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		gap: 5px;
		order: 10;
		width: 100%;
		padding: 0 25px 0 0;
		margin-top: -15px;
		color: var(--color-gray-600);
	}
	.ordering-process .show-tooltip.acronym[data-original-title] {
		padding: 0;
		border-style: none;
		text-decoration: underline;
	}
}
