:root {
	--header-height: 123px;
	--top-lista-height: 30px;
}
@media (max-width: 767px) {
	:root {
		--header-height: 110px;
		--header-top: calc(var(--header-height) - var(--top-lista-height));
	}
}

.top-lista {
	display: flex !important;
	background: #166038;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	height: var(--top-lista-height);
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.top-lista .main-text-pc {
	display: none;
}
.top-lista .main-text-mob {
	display: block;
}

#header {
	margin-top: 29px;
}

@media (min-width: 768px) {
	.admin-logged #header {
		margin-top: 50px !important;
	}
	.admin-logged .top-lista {
		top: 20px;
	}
	.top-lista .main-text-pc {
		display: block;
	}
	.top-lista .main-text-mob {
		display: none;
	}
}
@media (max-width: 767px) {
	.header-top {
		height: var(--header-top);
	}
	#header {
		margin-top: 0;
		padding-top: 30px;
	}
}

.top-lista .main-text {
	display: flex;
	font-weight: 400;
	justify-content: flex-start;
}
.add-texts {
	position: relative;
	width: max-content;
	margin-left: 0.4em;
}
.add-texts span {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;

	font-weight: 400;
	opacity: 0;
	display: none;
	pointer-events: none;
}
.add-texts > span.active {
	opacity: 1;
	pointer-events: auto;
	display: block;
}

.top-lista-car {
	position: absolute;
	left: 0;
	top: 0;
	background: #166038;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.top-lista-car.active {
	animation: top-lista-car-animation 3s infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
@keyframes top-lista-car-animation {
	0% {
		transform: translatex(103%);
	}
	75% {
		transform: translatex(103%);
	}
	100% {
		transform: translatex(0px);
	}
}
.top-lista-car::after {
	content: "";
	width: 20px;
	background-image: url("https://www.natima.cz/user/documents/upload/Natima/delivery_icon_white.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
