/*bannery uprostred a dole*/
.body-banners,
.footer-banners {
	gap: var(--gap);
	margin: 30px 0px !important;
}
.container .body-banners > div,
.content-wrapper.container .footer-banners .footer-banner {
	flex: 1;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0 !important;
}
.container .body-banners > div img,
.content-wrapper.container .footer-banners .footer-banner img {
	border-radius: var(--border-radius);
}
