.homepage-box {
	border-style: none;
	background: transparent;
}

/*slidery hero*/
.before-carousel .banners-row .col-sm-8 {
	width: 100%;
	margin-top: calc(var(--gap) * 2);
	position: relative;
}

/*carousels parent*/
.row.banners-row {
	display: grid;
	grid-template-rows: max-content max-content;
}
.row.banners-row > div {
	width: 100%;
	max-width: 100% !important;
}
.type-index .banners-row .col-sm-8,
.type-index .banners-row .col-sm-4 {
	padding: 0 !important;
}

.type-index .banners-row .col-sm-4 {
	display: none; /*show pomocí jq*/
}

#carousel {
	max-width: 100%;
	overflow: hidden;
}
.carousel-inner {
	display: flex;
	margin-left: -14px;
	min-height: auto !important;
	overflow: visible;
	width: auto;
	transition: transform 0.2s ease;
}
.carousel-inner .item {
	display: block;
	--SliderBannerWidth: calc(100% / var(--SliderPocetBanneru));
	min-width: var(--SliderBannerWidth);
	width: var(--SliderBannerWidth);
	padding: 0px 0px 0px var(--gap) !important;
	border-radius: var(--border-radius);
}

.col-sm-8 .carousel-inner > .item:nth-child(n + 5) img {
	display: none;
}

.col-sm-8 .carousel-inner.active > .item:nth-child(n + 5) img {
	display: block;
}

.carousel-inner .item img,
.carousel-inner .item video {
	max-width: none;
	width: 100%;
	border-radius: var(--border-radius);
}
.carousel-banner-content {
	display: flex;
	position: absolute;
	width: 100%;
	padding: 50px;
	bottom: 40px;
	flex-direction: column;
	left: 0;
	justify-content: flex-start;
	gap: 1em;
}

.carousel-banner-button {
	font-size: 14px;
	/*font-size: 12px;*/
	line-height: 1em;
	width: 8em;
	text-align: center;
	max-width: 80%;
	padding: 0.8em 0;
	border-radius: var(--border-radius);
	font-weight: 600;
	transition: all 0.3s ease-out;
	margin-top: 5px;
	position: absolute;
	top: auto;
	bottom: 0;
}
.carousel-banner-content .carousel-banner-heading {
	font-size: 24px;
	/* font-size: 18px; */
	min-height: 55px;
	color: inherit;
}
.carousel-banner-content .carousel-banner-text {
	font-size: 18px;
	font-weight: 400;
	/* font-size: 14px; */
}

.carousel-banner-content .carousel-banner-heading,
.carousel-banner-content .carousel-banner-text {
	line-height: 1.2em;
	margin: 0;
}
.carousel-banner-content.bright .carousel-banner-button,
.carousel-banner-content .carousel-banner-button {
	background-color: var(--color-black-800);
	color: white;
}
.carousel-banner-content.bright,
.carousel-banner-content {
	color: var(--color-black-800);
}

.carousel-banner-content.dark .carousel-banner-button {
	background-color: white;
	color: var(--color-black-800);
}
.carousel-banner-content.dark {
	color: white;
}

.carousel-control {
	display: none;
}
.type-index .banners-row {
	margin: 0;
}

/*bannery uprostred a dole*/
.body-banners,
.footer-banners {
	display: flex;
	gap: var(--gap);
	margin: 25px 0px !important;
}

.container .body-banners > div,
.content-wrapper.container .footer-banners .footer-banner {
	flex: 1;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0 !important;
}
.container .body-banners > div img,
.content-wrapper.container .footer-banners .footer-banner img,
.container .body-banners > div video,
.content-wrapper.container .footer-banners .footer-banner video {
	border-radius: var(--border-radius);
}

.row:before,
.row:after {
	display: none;
}

.welcome-wrapper {
	display: none;
}

/*Oblibene znacky*/
.middle-banners-wrapper .footer-banner {
	width: 100%;
	padding: 0;
}

.footer-banners > .footer-banner:nth-child(3) {
	display: none;
}

@media (max-width: 991px) {
	.carousel-inner .item {
		display: block;
		min-width: 300px;
		width: 300px;
		border-radius: var(--border-radius);
	}
	.banners-row .col-sm-8 {
		overflow: hidden;
	}
	.col-sm-8 .carousel-inner {
		overflow-x: scroll;
		overflow-y: hidden;
	}
}

@media (min-width: 992px) {
	.in-index .col-sm-8 {
		flex-grow: 3; /*pocet banneru pro JS*/
		--SliderPocetBanneru: 3;
	}
}

@media (min-width: 1200px) {
	.in-index .col-sm-8 {
		flex-grow: 4; /*pocet banneru pro JS*/
		--SliderPocetBanneru: 4;
	}
}

/*oblibené značky*/
.favorite-brands {
	display: flex;
	margin-left: calc(var(--gap) / -1);
}
.favorite-brand {
	position: relative;
	margin-left: var(--gap);
}
.favorite-brand img {
	filter: brightness(1.02);
	margin: 60px 0px 50px 0px;
}
.favorite-brand::after {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	pointer-events: none;
	width: 100%;
	height: 100%;
	background-color: hsla(203, 7%, 47%, 0.06);
	border-radius: var(--border-radius);
}
