/*Blog katalog*/
.in-blog .news-item {
	margin-bottom: 40px;
	padding-bottom: 0;
}
.in-blog .news-item img {
	border-radius: var(--border-radius);
}
.in-blog .news-item .title {
	font-weight: 500;
}

.in-blog #newsWrapper {
	margin-top: 30px;
}
.in-blog h1 {
	text-align: left !important;
	width: fit-content;
	position: relative;
}
.in-blog h1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: var(--color-primary);
	bottom: -6px;
	left: 0;
}
.type-posts-listing .content-inner > hr,
.type-posts-listing .content-inner > p {
	display: none;
}

/*OLD BLOG-------------------------------------------------------------------------------*/
/*OLD BLOG-------------------------------------------------------------------------------*/
/*OLD BLOG-------------------------------------------------------------------------------*/
.old-blog.type-post .text p {
	text-align: justify;
}
.old-blog.type-post h5 {
	font-size: 22px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 5px;
}
.old-blog.type-post h6 {
	font-size: 18px;
	padding-top: 5px;
}

/*ZOBRAZIT VÍCE/ ZOBRAZIT MÉNĚ*/
.read-more-state {
	display: none;
}
.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: 0.25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font: inherit;
	max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
	content: "Zobrazit více";
}
.read-more-state:checked ~ .read-more-trigger:before {
	content: "Zobrazit méně";
}
.read-more-trigger,
.zobrazitvice {
	/* Tlacitko zobrazit více o produktu na blogu*/
	cursor: pointer;
	display: inline-block;
	padding: 0.2em 2em;
	margin: 1em 0.2em;
	color: #ffffff;
	font-size: 1.6rem;
	line-height: 2;
	background: #9068be;
	border-style: none;
	border-radius: var(--border-radius);
}
/*konec ZOBRAZIT VÍCE/ ZOBRAZIT MÉNĚ*/

/*Blog produkty*/
.blog-products {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	gap: var(--gap);
}
.blog-products a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--gap);
	max-width: 300px;
	text-align: center;
	justify-content: flex-start;
}
.blog-products a span {
	padding: 0 30px;
	font-weight: 600;
	font-size: 1.6rem;
}
.blog-products a img {
	transition: transform 0.1s ease-out;
}
.blog-products a:hover img {
	transform: scale(1.05);
}
.blog-products a::after {
	content: "Zobrazit";
	border-radius: var(--border-radius);
	border-style: solid;
	padding: 0.5em 2em;
	margin-top: 0.5em;
	border-color: var(--color-primary);
	transition: background 0.2s ease-out, color 0.2s ease-out;
}
.sk .blog-products a::after {
	content: "Zobraziť";
}
.blog-products a:hover::after {
	background: var(--color-primary);
	color: white;
}
@media (max-width: 767px) {
	.blog-products {
		flex-direction: column;
		align-items: center;
		gap: calc(var(--gap) * 6);
	}
}

.in-blog #pobo-all-content .widget-typography h2 {
	padding-top: 2em !important;
	font-size: 2.25rem !important;
	margin-bottom: 0 !important;
}

/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
.in-blog.type-post:not(.old-blog) .content-wrapper-in {
	display: block;
}

.in-blog.type-post:not(.old-blog) #content p,
.in-blog.type-post:not(.old-blog) #content h1,
.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3,
.in-blog.type-post:not(.old-blog) #content h4,
.in-blog.type-post:not(.old-blog) #content h5,
.in-blog.type-post:not(.old-blog) #content h6,
.in-blog.type-post:not(.old-blog) #content a,
.in-blog.type-post:not(.old-blog) #content b,
.in-blog.type-post:not(.old-blog) #content strong,
.in-blog.type-post:not(.old-blog) #content span {
	color: var(--color-black-800);
	font-family: var(--ff-main) !important;
	text-align: left;
}

.in-blog.type-post:not(.old-blog) {
	--maxWidth: 92rem;
	--contentPad: 1.5rem;
}
.in-blog.type-post:not(.old-blog) #content {
	max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
	padding: 0 var(--contentPad);
	font-size: 1.6rem;
	text-wrap: pretty;
}

.in-blog.type-post:not(.old-blog) #content img {
	border-radius: var(--border-radius);
}

.in-blog.type-post:not(.old-blog) #content p {
	font-size: 1.6rem;
	line-height: 1.8;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

.in-blog.type-post:not(.old-blog) #content h1 {
	color: var(--color-black-800);
	font-size: 2.4rem;
	font-weight: 800;
}
.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3 {
	font-weight: 800;
	line-height: 1.28;
	margin-top: 3.2rem;
	margin-bottom: 1.6rem;
}
.in-blog.type-post:not(.old-blog) #content h2 {
	font-size: 2.2rem;
}
.in-blog.type-post:not(.old-blog) #content h3 {
	font-size: 2rem;
}
.in-blog.type-post:not(.old-blog) #content ul,
.in-blog.type-post:not(.old-blog) #content ol {
	margin: 2.4rem 0;
	font-size: 1.6rem;
	line-height: 1.8;
	list-style-type: none;
	padding: 0;
}
.in-blog.type-post:not(.old-blog) #content ol {
	counter-reset: section;
}
.in-blog.type-post:not(.old-blog) #content ul li,
.in-blog.type-post:not(.old-blog) #content ol li {
	position: relative;
	margin-bottom: 2rem;
	padding-left: 2rem;
}
.in-blog.type-post:not(.old-blog) #content ol li {
	padding-left: 4.4rem;
	counter-increment: section;
}
.in-blog.type-post:not(.old-blog) #content ul li::before {
	position: absolute;
	top: 1.45rem;
	left: 0;
	width: 0.8rem;
	height: 0.8rem;
	content: "";
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: var(--color-black-800);
}
.in-blog.type-post:not(.old-blog) #content ol li::before {
	content: counter(section);
	width: 3.2rem;
	height: 3.2rem;
	position: absolute;
	top: 1.45rem;
	left: 0;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 3.2rem;
	text-align: center;
	transform: translateY(-50%);
	background-color: var(--color-primary-100);
	color: var(--color-primary-hover);
	border-radius: 6px;
}
.in-blog.type-post:not(.old-blog) #content a {
	transition: color 0.1s ease;
	text-decoration: underline;

	word-break: break-word;
}
.in-blog.type-post:not(.old-blog) #content a:hover {
	color: var(--color-primary-hover);
}

@media (min-width: 641px) {
	.in-blog.type-post:not(.old-blog) #content h1 {
		font-size: 2.4rem;
	}
}

@media (min-width: 1200px) {
	.in-blog.type-post:not(.old-blog) #content {
		padding: 0 3rem;
	}
	.in-blog.type-post:not(.old-blog) #content h1 {
		font-size: 3.2rem;
	}
	.in-blog.type-post:not(.old-blog) #content h2 {
		font-size: 3.2rem;
		margin-top: 4.8rem;
		margin-bottom: 2.4rem;
	}
	.in-blog.type-post:not(.old-blog) #content h3 {
		margin-top: 4rem;
	}

	.in-blog.type-post:not(.old-blog) #content ul,
	.in-blog.type-post:not(.old-blog) #content ol {
		margin: 4rem 0;
	}
	.in-blog.type-post:not(.old-blog) #content ul li {
		padding-left: 5.6rem;
	}
	.in-blog.type-post:not(.old-blog) #content ul li::before {
		left: 2.4rem;
		transform: translate(-50%, -50%);
	}
	.in-blog.type-post:not(.old-blog) #content ol li {
		padding-left: 5.6rem;
	}
	.in-blog.type-post:not(.old-blog) #content ol li::before {
		left: 1.2rem;
	}
}

/*AUTOR BLOGU*/
#blog-author {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 2.4rem;
	background: var(--color-gray-200);
	border-radius: var(--border-radius);
	padding: 2.4rem 3.6rem 0.9rem 3.6rem;
	align-items: start;
}

.author-image {
	border-radius: 50%;
	overflow: hidden;
	border-style: solid;
	border-color: var(--color-primary);
	border-width: 1px;
}

#blog-author p {
	margin: 0 !important;
}

#blog-author .author-name {
	font-size: 2.2rem !important;
	font-weight: 600 !important;
	margin-top: 0.4rem !important;
	margin-bottom: 0.8rem !important;
}
#blog-author .author-text .author-label {
	font-size: 1.2rem !important;
	margin: 0 !important;
}
.author-text {
	font-size: 1.5rem !important;
	line-height: 1.5 !important;
}
#blog-author .author-text p {
	margin-bottom: 1.5rem !important;
}
@media (max-width: 767px) {
	#blog-author {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.author-image {
		max-width: 120px;
		margin: auto;
	}
	#blog-author .author-label,
	#blog-author .author-name {
		text-align: center !important;
		margin-top: 0 !important;
	}
}

/*------------------------------------------------------------------------------Související články blog*/
.show-blog-heading {
	font-family: var(--ff-main) !important;
	font-size: 2.2rem;
	font-weight: 800;
	line-height: 1.28;
	margin-top: 3.2rem;
	margin-bottom: 1.6rem;
	text-align: left;
	padding-left: 7px;
}

.blog-fetched-related {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	margin-bottom: 1.6rem;
}
.blog-fetched-related > * {
	padding: calc(var(--gap) / 1.5);
	max-width: 300px;
	min-width: 250px;
	color: var(--color-black-800) !important;
}
.blog-fetched-related img {
	border-radius: var(--border-radius);
	filter: brightness(0.95);
	transition: filter 0.3s ease;
}
.blog-fetched-related a:hover img {
	filter: brightness(1);
}
.blog-fetched-related a h4 {
	transition: color 0.2s ease;
	font-family: var(--ff-main) !important;
	font-size: 2rem !important;
	line-height: 1.28;
	margin-bottom: 0.5em;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.blog-fetched-related a:hover h4 {
	color: var(--color-primary) !important;
}
.blog-fetched-related a p {
	color: #666;
	display: -webkit-box !important;
	font-size: 1.6rem;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	margin: 0;
}

@media (min-width: 1200px) {
	.show-blog-heading {
		text-align: center;
		font-size: 3.2rem;
		margin-top: 4.8rem;
		margin-bottom: 2.4rem;
	}
	.blog-fetched-related {
		justify-content: center;
		margin-bottom: 2.4rem;
	}
	.blog-fetched-related > * {
		max-width: 25%;
		min-width: auto;
	}
	.show-blog-heading {
		padding-left: 0;
	}
}

/*------------------------------------------------------------------------------Blog produkty z kategorie a produkty z detailu*/
.blog-fetched-category .p-in .p-in-in .ratings-wrapper,
.blog-fetched-category .p-in .p-bottom,
.blog-fetched-category .p-code,
.blog-fetched-category .flags {
	display: none;
}

.blog-fetched-products,
.blog-fetched-category {
	display: flex;
	overflow-x: auto;
	justify-content: flex-start;
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
	margin-left: calc(var(--gap) / -2);
	margin-right: calc(var(--gap) / -2);
}

.blog-fetched-products > a,
.blog-fetched-category > .product {
	max-width: 60%;
	width: 300px;
	flex-shrink: 0;
	padding: calc(var(--gap) / 1.5);
	margin-bottom: 4rem;
	position: relative;
}
.blog-fetched-products > a,
.blog-fetched-category > .product a {
	text-decoration: none !important;
	color: var(--color-black-800) !important;
}
.blog-fetched-products > a::before,
.blog-fetched-category > .product::before {
	display: block;
	content: "";
	position: absolute;
	width: calc(100% - var(--gap));
	height: calc(100% + 4rem);
	top: 0;
	left: calc(var(--gap) / 2);
	pointer-events: none;
	background-color: hsla(204, 5%, 60%, 0.06);
	border-radius: var(--border-radius);
	transition: opacity 0.1s ease;
}
.blog-fetched-products > a::after,
.blog-fetched-category > .product::after {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 80%;
	max-width: 200px;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	color: white;
	font-size: 1.6rem !important;
	padding: 0.75em 0.25em;
	text-align: center;
	transition: background-color 0.1s ease;
}
.blog-fetched-products > a:hover,
.blog-fetched-category > .product:hover a {
	text-decoration: underline !important;
}
.blog-fetched-products > a:hover::after,
.blog-fetched-category > .product:hover::after {
	background-color: var(--color-primary-hover);
}
.blog-fetched-products > a:hover::before,
.blog-fetched-category > .product:hover::before {
	opacity: 0.6;
}
.cs .blog-fetched-products > a::after,
.cs .blog-fetched-category > .product::after {
	content: "Zobrazit produkt";
}
.sk .blog-fetched-products > a::after,
.sk .blog-fetched-category > .product::after {
	content: "Zobraziť produkt";
}
.blog-fetched-products > a p,
.blog-fetched-category > .product .name span {
	text-align: center !important;
	line-height: 1.6 !important;
	text-decoration: none !important;
	font-weight: 600;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding: 0 10px;
	margin-bottom: 2em !important;
	margin-top: 1em !important;
}
@media (min-width: 1200px) {
	.blog-fetched-products,
	.blog-fetched-category {
		display: flex;
		justify-content: center;
	}
	.blog-fetched-products > a,
	.blog-fetched-category > .product {
		max-width: 50%;
		min-width: 25%;
		width: auto;
		flex-shrink: 1;
		flex: 1;
	}
}

/*------------------------------------------------------------------------------Blog Zobrazit všechny články a produkty tlačítko*/
.show-all-blog-btn {
	width: auto;
	display: flex;
	justify-content: center;
}

.show-all-blog-btn a {
	margin: 0px auto 0px 7px;
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	color: var(--color-primary) !important;
	border-radius: var(--border-radius);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	padding: 0.6em 1em;
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
	text-decoration: none !important;
}
.show-all-blog-btn a:hover,
.show-all-blog-btn a:focus-within {
	background: var(--color-primary);
	border-color: var(--color-primary);
	color: white !important;
}

@media (min-width: 1200px) {
	.show-all-blog-btn a {
		margin: 0px auto 0px auto;
	}
}

/**/
.in-blog.type-post:not(.old-blog) .comments,
.in-blog.type-post:not(.old-blog) .share {
	max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
	padding: 0 var(--contentPad);
	margin-left: auto;
	margin-right: auto;
}
.in-blog.type-post:not(.old-blog) .comments {
	margin-top: 2.4rem;
	margin-bottom: 1.6rem;
}
