body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: var(--color-black-800);
}

/*full-width do 1920*/
body .container {
	max-width: 1920px;
	width: 100%;
	padding: 0 var(--padding-sides) !important;
	margin: auto;
}

body .container.navigation-wrapper {
	max-width: 100%;
	width: 100%;
	padding: 0 !important;
}

/*drobeckova navigace schovat pouze nahore*/
body > .overall-wrapper > .breadcrumbs-wrapper {
	visibility: hidden;
}

/*random minusove margininy od shoptetu*/
.row {
	margin: 0;
}

#navigation {
	margin: 0;
}

.content-inner {
	max-width: none;
}

.top-navigation-bar {
	display: none;
}

/*Nadpisy na hl stránce*/
.content-wrapper .h4 {
	font-size: 2.4rem;
	width: fit-content;
	padding-bottom: 4px;
	margin-bottom: 20px;
	position: relative;
}
.content-wrapper .h4::after {
	content: "";
	background: var(--color-primary);
	display: block;
	position: absolute;
	bottom: -3px;
	height: 1px;
	width: 100%;
}

.content.wide {
	max-width: 992px;
	margin: auto;
}
.content.wide h1 {
	text-align: center;
}

body.type-product .content.wide,
body.in-index .content.wide {
	max-width: none;
}
body.in-index .content.wide {
	margin-top: 20px;
	padding: 0 !important;
}

body.type-product .content.wide h1,
body.in-index .content.wide h1 {
	text-align: left;
}

@media (min-width: 768px) {
	.content {
		padding: 0;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	body.in-index .content.wide {
		padding: var(--padding-sides) !important;
	}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 1660px) {
}
