/*kategorie v kategorii*/
.category-top .subcategories li a {
	border-style: none;
	background: var(--color-gray-400);
	padding: 30px 20px;
	border-radius: calc(var(--border-radius) * 2);
}
.category-top .subcategories li a {
	border-style: none;
	background: var(--color-gray-400);
	padding: 30px 20px;
}

.category-top .subcategories li a .image img {
	filter: contrast(0.94);
}
