@media (min-width: 992px) {
	.breadcrumbs {
		margin: 0;
	}
}

/*sidebar*/
@media (min-width: 992px) {
	.sidebar {
		/*display: none;*/
		width: 200px;
		background: transparent;
	}
}
.sidebar .sidebar-inner {
	padding: 0;
}

.sidebar .filters-unveil-button-wrapper {
	display: none;
}

.sidebar .box-filters,
.sidebar .filters > * {
	padding: 0;
}

.sidebar .filter-sections {
	background: transparent;
}
.sidebar .filter-sections .filter-section-button {
	display: none;
}

/*nejprodavanejsi*/
.category-header {
	background: transparent;
}
.category-header fieldset label {
	padding-left: 0 !important;
	font-size: 16px !important;
}

.category-header input[type="radio"]:checked + label {
	font-weight: 600;
}
.category-header div {
	font-size: 14px;
}

/*kategorie*/
.type-category .content {
	display: flex;
	flex-wrap: wrap;
}
.category-top {
	width: 100%;
}

.category-content-wrapper {
	flex: 1;
	margin-left: calc(var(--padding-sides) * 2);
}

.type-category .products-block.products {
	--product-cat-columns: 1;
	--product-cat-gap: 0px;
	column-gap: var(--product-cat-gap);
	row-gap: calc(var(--product-cat-gap) * 2);
}

.type-category .products-block.products .product {
	width: calc(
		100% / var(--product-cat-columns) -
			(var(--product-cat-gap) * (var(--product-cat-columns) - 1) / var(--product-cat-columns))
	);
	padding: 0;
	border-style: none;
}

.type-category .products-block.products .product img {
	margin: 80px 0 70px 0;
}

/*popis kategorie a zobrazit více*/
.category-perex {
	text-align: justify;
	margin-top: 20px;
}
.category__secondDescription {
	text-align: justify;
}

.category-perex > table,
.category__secondDescription > table {
	display: grid;
	grid-template-rows: 0fr;
	transition: all 0.3s ease-out;
}
.category-perex > table > tbody,
.category__secondDescription > table > tbody {
	height: auto;
	overflow: hidden;
}
.category-perex.expanded > table,
.category__secondDescription.expanded > table {
	grid-template-rows: 1fr;
}

.category-perex .category-read.less,
.category__secondDescription .category-read.less {
	display: none;
}
.category-perex .category-read.more,
.category__secondDescription .category-read.more {
	display: block;
}
.category-perex.expanded .category-read.less,
.category__secondDescription.expanded .category-read.less {
	display: block;
}
.category-perex.expanded .category-read.more,
.category__secondDescription.expanded .category-read.more {
	display: none;
}
.category-read {
	cursor: pointer;
	color: var(--color-primary);
	transition: color 0.2s;
	width: auto;
	width: fit-content;
}
.category-read::after {
	font-size: 0.7em;
	margin-left: 4px;
	font-family: "shoptet";
}
.category-read.more::after {
	content: "\e90e";
}
.category-read.less::after {
	content: "\e911";
}
.category-read:hover {
	color: var(--color-primary-hover);
}

/*podkategorie*/
.category-top .subcategories {
	--subcategories-columns: 2;
}
.category-top .subcategories {
	display: grid;
	grid-template-columns: repeat(var(--subcategories-columns), 1fr);
	gap: var(--gap);
	margin: 0;
	margin-bottom: calc(var(--gap) * 2);
}
.category-top .subcategories .col-xl-3 {
	width: 100%;
	padding: 0;
}

.category-top .subcategories .col-xl-3 a {
	border-radius: var(--border-radius);
	color: var(--color-black-800);
	border-color: hsla(268, 40%, 58%, 0.15);
	border-width: 1px;
	transition: none;
}
.category-top .subcategories .col-xl-3 a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	background: hsla(268, 40%, 58%, 0.01);
	transition: none;
}

.category-top .subcategories .col-xl-3 a:hover {
	border-color: hsla(268, 40%, 58%, 0.45);
}

.category-top .subcategories .col-xl-3 a:hover::after {
	background: hsla(268, 40%, 58%, 0.04);
}

.category-top .subcategories .col-xl-3 a .text {
	opacity: 0.95;
	font-weight: 400;
}

@media (min-width: 440px) {
	.type-category .products-block.products {
		--product-cat-columns: 2;
		--product-cat-gap: 12px;
	}
}

@media (min-width: 768px) {
	.category-top .subcategories {
		--subcategories-columns: 3;
	}
}

@media (min-width: 992px) {
	.category-top .subcategories {
		--subcategories-columns: 4;
	}
}

@media (min-width: 1200px) {
	.category-top .subcategories {
		--subcategories-columns: 5;
	}
	.type-category .products-block.products {
		--product-cat-columns: 3;
		--product-cat-gap: 12px;
	}
}

@media (min-width: 1440px) {
	.category-top .subcategories {
		--subcategories-columns: 6;
	}
	.type-category .products-block.products {
		--product-cat-columns: 4;
		--product-cat-gap: 14px;
	}
}

@media (min-width: 1660px) {
	.category-top .subcategories {
		--subcategories-columns: 7;
	}
	.type-category .products-block.products {
		--product-cat-columns: 5;
		--product-cat-gap: 14px;
	}
}
