/*nakupni radce*/
.buy-helper-block {
	margin-top: calc(var(--gap) * 2.5);
	margin-bottom: calc(var(--gap) * 4);
	display: grid;
	column-gap: var(--gap);
	row-gap: calc(var(--gap) * 1.2);
	--helper-grid-columns: 1;
	grid-template-columns: repeat(var(--helper-grid-columns), 1fr);
}

.buy-helper-block a {
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius);
	border-color: transparent;
	background: var(--color-gray-400);
	color: var(--color-black-800);
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	padding: 25px 20px;
	transition: none;
}
.buy-helper-block a span {
	width: 100%;
}
.buy-helper-block a svg {
	width: 17%;
	height: auto;
	max-height: 80%;
	fill: transparent;
	margin-right: clamp(10px, 8%, 20px);
	stroke: var(--color-black-800);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
	fill: var(--color-black-800);
}
.buy-helper-block a:hover,
.buy-helper-block a:focus {
	border-color: var(--color-primary);
	color: var(--color-primary);
	outline: none;
}
.buy-helper-block a:hover svg,
.buy-helper-block a:focus svg {
	stroke: var(--color-primary);
	fill: var(--color-primary);
}

@media (min-width: 768px) {
	.buy-helper-block {
		--helper-grid-columns: 2;
	}
	.buy-helper-block a {
		font-size: 16px;
	}
	.buy-helper-block a span {
		width: 50%;
	}
}
@media (min-width: 1200px) {
	.buy-helper-block {
		--helper-grid-columns: 3;
	}
}

/*faq*/

.contact-faq-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	align-items: flex-start;
}
.contact-faq h2 {
	margin-bottom: 24px;
}
.contact-faq-questions {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.contact-faq-question {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-gray-700);
	padding: 0px 20px 0px 20px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
}
.contact-faq-question > p {
	margin-bottom: 0px;
	font-weight: 400;
	text-align: left;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	cursor: pointer;
}
.contact-faq-question > .contact-faq-answer {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease;
	overflow: hidden;
}
.contact-faq-question > .contact-faq-answer > p {
	height: auto;
	overflow: hidden;
	margin: 0;
	border-radius: var(--border-radius);
}
.contact-faq-question > p::before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 30px;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-bottom-color: #f6f6f6;
	border-top: 0;
	border-left: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.contact-faq-question.active > p::before {
	opacity: 1;
}

.contact-faq-question > p::after {
	content: "\e90e";
	position: absolute;
	right: 20px;
	font-family: shoptet;
	font-style: normal;
	color: #9068be;
	top: 16px;
	transition: transform 0.2s ease;
}

.contact-faq-question.active > .contact-faq-answer {
	grid-template-rows: 1fr;
}
.contact-faq-answer > p > span {
	display: block;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 14px;
	border-radius: var(--border-radius);
	background: #f6f6f6;
}
.contact-faq-question.active > p::after {
	transform: rotate(180deg);
}

@media (max-width: 767px) {
	.contact-faq-question > p::after {
		right: -10px;
	}
}
