/*footer*/
#footer {
	background: var(--color-gray-400);
}
#footer .container {
	background: transparent;
}
.custom-footer__banner1 .banner {
	overflow: visible;
}
.custom-footer__banner2 {
	display: none;
}
#footer .site-name {
	display: none;
}
#footer .custom-footer {
	padding: 0;
	border-style: none;
}
#footer .custom-footer__onlinePayments .text-center {
	text-align: left;
}
footer .custom-footer > div {
	padding: 30px 15px 0 0 !important;
}
footer .custom-footer .site-name .inner-box {
	padding: initial !important;
}
#footer > div.container.footer-rows > div > div:nth-child(2) > div:before {
	display: none;
}
#showHeurekaBadgeHere-11 > a > img {
	max-width: 100%;
	padding-right: 10%;
	margin-left: -10px;
	height: auto;
}
footer h4 {
	font-size: 16px;
	margin-bottom: 1.2em;
}
body footer .container.footer-bottom {
	padding: 0px 40px 20px 40px !important;
}

.container.footer-bottom #signature {
	margin-right: 0;
}

.in-index .container.footer-bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.in-index .container.footer-bottom #signature {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

.in-index .container.footer-bottom .footer-banner {
	grid-column: 1;
	grid-row: 1;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
}
.in-index .container.footer-bottom .footer-banner h1 {
	color: var(--color-primary);
	margin: 0;
	font-size: 16px;
	margin-bottom: 0.3em;
}

.in-index .container.footer-bottom .copyright {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
	padding: 0;
}
