/*footer*/
footer {
	background: var(--color-gray-400);
}
footer .custom-footer > div {
	padding: 20px 15px 0px 0px !important;
}
div.custom-footer__contact {
	display: none;
}
#footer > div.container.footer-rows > div > div:nth-child(1) {
	display: none;
}
div.custom-footer__banner24 {
	display: none;
}
footer .custom-footer .site-name .inner-box {
	padding: initial !important;
}
#footer > div.container.footer-rows > div > div:nth-child(2) > div:before {
	display: none;
}
#showHeurekaBadgeHere-11 > a > img {
	max-width: 100%;
	margin-left: -15px;
	height: auto;
}
footer .custom-footer .site-name .inner-box {
	margin-top: 0;
}
footer .custom-footer .site-name .inner-box > strong {
	display: none;
}

footer h4 {
	font-size: 1.2rem;
	margin-bottom: 2em;
}
body footer .container.footer-bottom {
	padding: 40px 40px 0px 40px !important;
}
