/*Header*/
:root {
	--header-categ-height: 42px;
	--header-height: 83px;
}
#header {
	position: sticky;
	top: 0;
	z-index: 99;
	background: transparent;
	pointer-events: none;
	font-size: 16px;
	border-style: none !important;
}

/*top header*/
.header-top {
	pointer-events: auto;
	display: flex;
	background: var(--color-primary);
	z-index: 9;
	position: relative;
	flex-wrap: nowrap;
	padding: 0 var(--padding-sides) 0 10px;
	gap: 1%;
}

.navigation-close {
	right: 10px;
}

@media (min-width: 1921px) {
	.header-top {
		padding: 0 2vw;
	}
	.navigation-in > ul {
		padding-left: 2vw;
	}
}

#header .site-name {
	position: initial;
}

#header .header-top .site-name-wrapper {
	order: 0;
	width: clamp(145px, 6.6vw + 94.4px, 221px);
}

.site-name-wrapper img {
	width: 100%;
	filter: brightness(0) invert(1);
	transition: opacity 0.3s ease;
}
.site-name-wrapper img:hover {
	opacity: 0.7;
}

#header .header-top > * {
	flex: none;
}
#header .header-top .search {
	order: 1;
	flex: 1;
	margin-right: 10px;
	margin-left: 10px;
}

#header .buy-helper {
	order: 2;
	height: 100%;
	display: flex;
	margin-right: 5px;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	transition: opacity 0.2s ease;
}

#header .header-top .top-navigation-contacts {
	order: 3;
}
#header .header-top .top-navigation-tools {
	order: 4;
	height: 100%;
	padding: 0;
	margin: 0;
}

#header #dkLabFavHeaderWrapper {
	position: unset;
	order: 5;
	height: 100%;
	width: 30px;
	top: 0;
	padding: 0;
	margin: 0;
	transform: none;
}

#header .header-top .navigation-buttons {
	order: 6;
	height: 100%;
	width: 34px;
	padding: 0;
	margin: 0;
}

#header .header-top .dropdown {
	order: 7;
	height: 100%;
	padding: 0;
	margin: 0;
}

/*search*/
#header .search fieldset {
	max-width: 800px;
	margin: auto;
	display: flex;
	height: 40px;
	border-radius: calc(var(--border-radius) * 2);
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

#header .search fieldset input {
	background-color: var(--color-gray-400);
	background-image: url("https://587774.myshoptet.com/user/documents/upload/Natima/ZoomIcon_3.svg");
	background-repeat: no-repeat;
	background-size: auto 70%;
	background-position: 10px 50%;
	width: 100%;
	height: 100%;
	border-style: none;
	border-radius: 0;
	padding-left: 44px;
	padding-right: 10px;
}

#header .search fieldset button {
	background-color: #f7f7f7;
	color: var(--color-primary);
	font-weight: 400;
	letter-spacing: 0;
	font-family: var(--ff-main) !important;
	width: auto;
	position: relative;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
	height: 100%;
	border-style: none;
	left: -1px;
}
#header .search fieldset button::before {
	content: "";
	height: 100%;
	width: 1px;
	background: var(--color-primary);
	position: absolute;
	left: 0;
	top: 0;
	transform: scale(0.7);
	transition: transform 0.2s ease-in-out;
}
#header .search fieldset button:hover {
	background: var(--color-secondary);
	color: white;
}
#header .search fieldset button:hover::before {
	transform: scale(1);
}

/*helper*/
#header .buy-helper:hover {
	opacity: 0.7;
}
#header .buy-helper::before {
	content: "";
	height: 100%;
	width: 30px;
	display: block;
	background-image: url("https://587774.myshoptet.com/user/documents/upload/Natima/icon_helper_2.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#header .buy-helper .text {
	display: none;
	flex-direction: column;
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.2;
	color: white;
	margin-left: 5px;
	margin-right: 5px;
}

/*Header Zákaznická podpora*/
#header .top-navigation-tools {
	display: flex;
	align-items: center;
}
#header .top-navigation-contacts {
	background: transparent;
	width: auto;
	padding-left: 0;
	position: relative;
}
#header .top-navigation-contacts > .project-email {
	display: none;
}
#header .top-navigation-contacts > strong {
	display: block;
	font-weight: 400;
	font-size: 0.8em;
}
#header .top-navigation-contacts a > span {
	display: block;
}
#header .top-navigation-contacts,
#header .top-navigation-contacts .project-phone {
	color: white;
	transition: opacity 0.3s;
	padding: 0;
}
#header .top-navigation-contacts {
	padding-left: 36px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}
#header .top-navigation-contacts .project-phone {
	font-weight: 600;
}
#header .top-navigation-contacts .project-phone:hover {
	color: white;
	opacity: 0.7;
}
#header .top-navigation-contacts .project-phone::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 30px;
	content: "";
	background-image: url("https://595805.myshoptet.com/user/documents/upload/icon_phone.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 50%;
}

/*login*/
#header .header-top .top-nav-button-login,
#header .header-top .top-nav-button-account {
	display: block;
	position: relative;
	height: 25%;
	width: 30px;
	padding: 0;
	margin: 0;
	background-image: url(https://595805.myshoptet.com/user/documents/upload/accountMenuIcon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#header .header-top .top-nav-button-login span,
#header .header-top .top-nav-button-account span {
	display: none;
}
#header .header-top .top-nav-button-login:hover::before,
#header .header-top .top-nav-button-account:hover::before {
	color: white;
	display: block;
	position: absolute;
	width: max-content;
	height: auto;
	font-size: 12px;
	background: var(--color-black-800);
	top: calc(100% + 8px);
	left: 0;
	transform: translatex(-38.6%);
	opacity: 1;
	padding: 5px 20px;
	border-radius: var(--border-radius);
	line-height: initial;
	text-transform: none;
	opacity: 1;
	animation: hoverOpacity;
	animation-duration: 0.2s;
	animation-fill-mode: ease;
}
#header .header-top .top-nav-button-login:hover::before {
	content: "Přihlášení / Registrace";
}
#header .header-top .top-nav-button-account:hover::before {
	content: "Můj účet";
}

/*header oblibené*/
#dkLabFavHeaderWrapper {
	display: flex;
	align-items: center;
}
.dkLabFavHeaderIconBtn {
	width: 100%;
	height: 30%;
	top: 0 !important;
	display: flex;
}
.dkLabFavHeaderIconBtn::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("https://587774.myshoptet.com/user/documents/upload/Natima/icon_favorite.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 !important;
}
.dkLabFavHeaderIconBtn em {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px 0 0;
	background: var(--color-primary-600);
	top: -4px;
	right: -8px;
	left: auto;
	font-size: 11px;
	line-height: 11px;
	font-weight: 500;
	letter-spacing: 0;
	font-family: var(--ff-main);
}
.dkLabFavHeaderIconBtn:hover::after {
	color: white;
	content: "Oblíbené produkty";
	z-index: 1000;
	display: block;
	position: absolute;
	width: max-content;
	height: auto;
	font-size: 12px;
	background: var(--color-black-800);
	top: calc(100% + 5px);
	left: 0;
	transform: translatex(-38.6%);
	opacity: 1;
	padding: 5px 20px;
	border-radius: var(--border-radius);
	line-height: initial;
	text-transform: none;
	opacity: 1;
	animation: hoverOpacity;
	animation-duration: 0.2s;
	animation-fill-mode: ease;
}

/*header kosik*/
.navigation-buttons {
	display: flex;
}

.navigation-buttons .cart-price,
.navigation-buttons .sr-only {
	display: none !important;
}

.navigation-buttons > a[data-target="cart"] i {
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px 0 0;
	background: var(--color-primary-600);
	top: -4px;
	right: -8px;
	left: auto;
	font-size: 11px;
	line-height: 11px;
	font-weight: 500;
	letter-spacing: 0;
	font-family: var(--ff-main);
}
#header .navigation-buttons .cart-count {
	width: 100%;
	height: 33%;
}
#header .navigation-buttons .cart-count::before {
	width: 100%;
	height: 100%;
	content: "";
	padding: 0;
	margin: 0;
	background-image: url("https://587774.myshoptet.com/user/documents/upload/Natima/icon_cart.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#header .header-top .dropdown {
	display: flex;
	align-content: center;
}

#header .header-top .dropdown > span {
	display: none;
}

#header .header-top .dropdown #topNavigationDropdown {
	position: relative;
	background: transparent;
	border: none;
	color: white;
	padding-left: 0;
	padding-right: 14px;
	font: var(--template-font);
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 0.5px;
	height: 100%;
	transition: opacity 0.2s ease;
}
#header .header-top .dropdown #topNavigationDropdown .caret {
	display: none;
}

#header .header-top .dropdown #topNavigationDropdown:hover {
	opacity: 0.7;
}

#header .header-top .dropdown #topNavigationDropdown::before {
	content: "\e90e";
	position: absolute;
	right: 0;
	top: 48%;
	transform: translatey(-50%) rotate(0deg);
	font-family: "shoptet";
	font-size: 8px;
	color: white;
	transition: transform 0.3s;
}
#header .header-top .dropdown.open #topNavigationDropdown::before {
	transform: translatey(-50%) rotate(180deg);
}
#header .header-top .dropdown .dropdown-menu {
	left: auto;
	right: calc(-25px + 20px);
	padding: 10px 5px;
	margin: 0;
	min-width: 0;
	top: 70%;
	font-size: 0.9em;
	border-radius: var(--border-radius);
	background: var(--color-black-800);
	border-style: none;
}
#header .header-top .dropdown .dropdown-menu a {
	color: white;
	border-radius: var(--border-radius);
}
#header .header-top .dropdown .dropdown-menu a:hover {
	color: var(--color-primary);
}
#header .header-top .dropdown .dropdown-menu a::before {
	display: none;
}
#navigation {
	pointer-events: auto;
}
/*kategorie*/
@media (min-width: 768px) {
	#navigation {
		height: var(--header-categ-height);
		transition: transform 0.3s ease-in-out;
		z-index: 1;
		padding-right: 10px;
	}
	.hidden-categories #navigation {
		transform: translatey(calc((var(--header-categ-height) * -1) - 1px));
		z-index: -1;
	}
	.navigation-in {
		background-color: var(--color-gray-400);
		height: 100%;
	}
	.navigation-in .menu-level-1 {
		height: 100%;
	}
	.navigation-in > ul > li {
		border-style: none;
		height: 100%;
	}
	.navigation-in > ul > li > a {
		color: var(--color-black-800);
		padding: 0 10px;
		height: 100%;
		display: flex;
	}
	.navigation-in > ul > li.ext.exp > a,
	.navigation-in > ul > li > a:hover,
	.navigation-in > ul > li:first-child > a:hover {
		color: var(--color-blue-400);
		padding: 0 10px;
		background-color: inherit;
		margin: 0;
	}
	.navigation-in > ul > li > a b {
		margin: auto;
	}
	.menu-helper {
		height: var(--header-categ-height);
		transition: transform 0.3s ease-in-out;
		pointer-events: auto;
		right: 10px;
	}
	.menu-helper::after,
	.menu-trigger::after {
		background: transparent;
		color: var(--color-black-400);
	}
	.hidden-categories .menu-helper {
		transform: translatey(calc((var(--header-categ-height) * -1) - 1px));
		z-index: -1;
	}
}

@keyframes hoverOpacity {
	0% {
		opacity: 0;
		transform: translate(-38.6%, -10px);
	}
	100% {
		opacity: 1;
	}
}

/*Kategorie v menu*/
/*kategorie v menu*/
.navigation-in.menu .menu-level-2 > li > a {
	display: none !important;
}
.navigation-in > ul > li.ext > ul > li > div a {
	font-weight: 600;
	color: var(--color-black-800);
}
.navigation-in > ul > li.ext > ul > li .menu-level-3 a {
	color: var(--color-black-800);
	font-weight: 400;
	opacity: 0.85;
}

#header #navigation .navigation-in.menu .menu-level-1 > .exp .menu-level-2 {
	display: block;
	columns: 3;
	background: #fdfdfd;
	max-height: 100vh !important;
	padding-left: 30px;
}
#header #navigation .navigation-in.menu .menu-level-1 > .exp:has(.menu-level-2 > li:nth-child(4)) .menu-level-2 {
	columns: 4;
}
@media (min-width: 1440px) {
	#header #navigation .navigation-in.menu .menu-level-1 > .exp .menu-level-2 {
		columns: 5 !important;
	}
}
#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 > li {
	width: 100%;
	min-height: auto;
	padding: 20px 0 20px var(--padding-sides);
	align-items: start;
}
#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 > li > div {
	width: auto;
}
#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 > * {
	display: inline-block;
}
#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 .menu-level-3 {
	max-height: none;
	display: block;
}
#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 .menu-level-3 li {
	display: block;
	padding-bottom: 3px;
}
.menu-level-1 > li > a {
	position: relative;
}
.menu-level-1 > li > a b {
	position: relative;
}
.menu-item-840 > a::before,
.menu-item-765 > a::before,
.menu-item-723 > a::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: var(--color-primary);
	position: absolute;
	top: 0;
	left: 0;
}
.menu-item-840 > a::before {
	opacity: 0.18;
}
.menu-item-765 > a::before {
	opacity: 0.1;
}
.menu-item-723 > a::before {
	opacity: 0.15;
	background: rgb(59, 128, 73);
}

@media (min-width: 1200px) {
	.header-top {
		gap: 25px;
	}
	#header .header-top .search {
		margin-right: 30px;
		margin-left: 20px;
	}
	#header .buy-helper .text {
		display: flex;
	}
}

@media (max-width: 768px) {
	:root {
		--header-icon-menu-height: 24px;
		--header-menu-gap: 18px;
		--header-height: 60px;
	}

	#header {
		margin-bottom: 0;
	}

	.overall-wrapper {
		padding-top: 0 !important;
	}

	.header-top {
		height: var(--header-height);
		align-items: center;
		gap: 0;
	}

	#header .site-name {
		-webkit-transform: none !important;
		transform: none !important;
	}

	#header .site-name a img {
		margin-left: 0;
	}

	#header .header-top > .search {
		position: fixed;
		margin: 0;
		padding: 10px 0;
		top: calc(var(--header-height));
		width: 100vw;
		left: 0;
		background: var(--color-primary-100);
	}

	#header .header-top > .search fieldset {
		width: 70%;
	}

	.luigi-ac-heromobile.luigi-ac-autocomplete.luigi-ac-open {
		opacity: 1;
	}
	#header .search form {
		display: block;
	}

	#header .header-top .navigation-buttons {
		margin-right: calc(var(--header-icon-menu-height) + var(--header-menu-gap));
		margin-left: 12px;
	}
	#header .header-top .dropdown {
		display: none;
	}
	#header .navigation-buttons .cart-count {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: var(--header-icon-menu-height);
		margin: 0;
		-webkit-transform: none !important;
		transform: none !important;
	}

	#header .header-top .top-navigation-tools {
		margin-left: auto;
		margin-right: calc(var(--header-menu-gap) - 3px);
	}
	#header .responsive-tools {
		padding: 0;
		margin-right: var(--header-menu-gap);
	}

	#header .responsive-tools .toggle-window {
		color: white;
		margin-right: 0;
		padding: 0;
		height: var(--header-icon-menu-height);
		width: var(--header-icon-menu-height);
	}
	#header .responsive-tools .toggle-window[data-target="search"] {
		position: relative;
	}
	#header .responsive-tools .toggle-window[data-target="search"]::before {
		content: "";
		background-image: url(https://595805.myshoptet.com/user/documents/upload/searchMenuIcon.svg);
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
	#header .responsive-tools .toggle-window[data-target="navigation"] {
		padding: 0;
		height: auto;
		width: auto;
	}
	#header .responsive-tools .toggle-window[data-target="navigation"]::before {
		content: "";
		background: none;
		background-image: url("https://595805.myshoptet.com/user/documents/upload/moreMenuIcon.svg");
		background-position: center;
		background-repeat: no-repeat;
		height: var(--header-icon-menu-height);
		width: var(--header-icon-menu-height);
		border-radius: 0;
	}

	#header .header-top .top-nav-button-login,
	#header .header-top .top-nav-button-account {
		height: var(--header-icon-menu-height);
		width: var(--header-icon-menu-height);
	}

	.buy-helper {
		display: none !important;
	}

	.top-navigation-contacts {
		display: none !important;
	}
}

@media (max-width: 1200px) {
	.user-action-in .user-action-cart {
		right: 56px;
	}
	.user-action-login.popup-widget {
		right: 150px !important;
	}
}

@media (max-width: 992px) {
	body.user-action-visible {
		overflow: auto;
	}
	.user-action-login.popup-widget {
		width: 40vw;
		right: 130px !important;
		height: max-content;
	}
}

@media (max-width: 768px) {
	.dkLabFavHeaderIconBtn {
		height: 40%;
	}
	.user-action-login.popup-widget {
		padding-top: 0;
		width: 100vw;
		left: 0;
		right: 0 !important;
		top: var(--header-height) !important;
	}
	.user-action-in .user-action-cart {
		width: 100vw;
		left: 0;
		right: 0 !important;
		top: var(--header-height) !important;
		height: fit-content;
	}
	.cart-widget-products-inner {
		max-height: 50vh;
	}
	.user-action-in .user-action-cart > div {
		margin-bottom: 50px;
	}
	.cart-widget .popup-widget-inner.full + .cart-widget-button {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 460px) {
	:root {
		--header-icon-menu-height: 20px;
		--header-menu-gap: 14px;
	}
}
