.in-kosik #fvstudio-delivery-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
}
.in-kosik .extra.delivery > span {
	max-width: 80%;
	text-align: left;
}
.in-kosik .extra.delivery > span strong {
	margin-right: 0;
}
.in-kosik .extra.delivery::before {
	margin-left: 10px;
}

.ordering-process.id--9 #fvstudio-delivery-info .extra.delivery,
.content-window.cart-window #fvstudio-delivery-info .extra.delivery {
	max-width: 100%;
	margin-left: 0;
}

.in-kosik .extra.discount::before {
	display: none;
}

.ordering-process.id--9 .discount-coupon {
	width: 100% !important;
}

.flag-velkoobchod {
	display: none !important;
}

/*header mobil*/
@media (max-width: 768px) {
	.responsive-tools .toggle-window[data-target="login"] {
		display: none;
	}
	.search {
		display: none;
	}

	.search-window-visible .search {
		display: block;
	}
}

/*menu kategorii mobil*/
@media (max-width: 768px) {
	#header #navigation .navigation-in.menu .menu-level-1 > .exp .menu-level-2 {
		columns: 1 !important;
		max-height: none !important;
	}
	#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 > li {
		padding: 5px 0 5px 0;
	}
	.navigation-in ul.menu-level-2 li a {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 .menu-level-3 li {
		display: flex;
		align-items: center;
	}
	.menu-level-1 > li > a {
		padding-left: 10px !important;
	}
}
/*luigy*/
#lb-results .products {
	display: flex !important;
}

#lb-results .products .product .p .p-in-in,
#lb-results .products .product .p .p-bottom > div {
	--productCategoryGrid: 3.6em 4em 1.467em 1.2em;
}

#lb-results .products-block.products {
	--product-brand-columns: 1;
	--product-brand-gap: 0px;
	column-gap: var(--product-brand-gap);
	row-gap: calc(var(--product-brand-gap) * 2);
}

#lb-results .products-block.products .product {
	width: calc(
		100% / var(--product-brand-columns) -
			(var(--product-brand-gap) * (var(--product-brand-columns) - 1) / var(--product-brand-columns))
	);
	padding: 0;
	border-style: none;
}

#lb-results .products-block.products .product .p > a {
	margin-bottom: 0;
}

#lb-results .products-block.products .product img {
	margin: 80px 0 70px 0;
}

#lb-results .content.wide {
	max-width: none;
}

#lb-results .p-code {
	display: none;
}

@media (max-width: 440px) {
	#lb-results .products-block.products {
		row-gap: 24px !important;
	}
}

@media (min-width: 440px) {
	#lb-results .products-block.products {
		--product-brand-columns: 2;
		--product-brand-gap: 12px;
	}
}

@media (min-width: 768px) {
	#lb-results .content.wide {
		margin-left: var(--padding-sides);
	}
}

@media (min-width: 1200px) {
	#lb-results .products-block.products {
		--product-brand-columns: 3;
		--product-brand-gap: 12px;
	}
}

@media (max-width: 1440px) {
	#lb-results .products-block.products {
		row-gap: calc(var(--product-cat-gap) * 3);
	}
}

@media (min-width: 1440px) {
	#lb-results .products-block.products {
		--product-brand-columns: 4;
		--product-brand-gap: 14px;
	}
}

@media (min-width: 1660px) {
	#lb-results .products-block.products {
		--product-brand-columns: 5;
		--product-brand-gap: 14px;
	}
}

/*drobecky kategorie*/
body.type-category .container.breadcrumbs-wrapper {
	visibility: visible;
	margin-bottom: 30px;
}
body.type-category .navigation-home-icon-wrapper::before {
	left: 0px;
}
body.type-category span#navigation-first {
	width: 30px;
}
body.type-category .breadcrumbs > span > span {
	padding-left: 0;
}
body.type-category .container.breadcrumbs-wrapper .breadcrumbs,
body.type-category .container.breadcrumbs-wrapper .breadcrumbs a {
	color: var(--color-primary);
}
body.type-category .breadcrumbs a {
	color: var(--color-primay);
	padding: 0;
	padding-right: 20px;
	min-height: auto;
	font-size: 14px;
}

body.type-category .breadcrumbs a::before,
body.type-category .breadcrumbs a::after {
	content: "";
	position: absolute;

	height: 30%;
	right: 10px;
	background-color: var(--color-black-800);
}

body.type-category .breadcrumbs a::before {
	top: 24%;
}
body.type-category .breadcrumbs a::after {
	bottom: 24%;
}

.lb-search .lb-quick-searches__headings {
	border-bottom: none;
}
.lb-search .lb-search__body {
	margin-top: 0;
	border-style: none;
}

.lb-search .lb-search__aside {
	padding: 0;
	background: none;
	width: 200px !important;
}
.lb-search .lb-search__aside > * {
	border-right-style: none !important;
}

.lb-search .lb-search__main {
	width: auto !important;
	max-width: 100%;
	flex: 1 !important;
	padding: 0 !important;
	margin-left: var(--padding-sides) !important;
}

.lb-search .p-in-in > a > span {
	-webkit-line-clamp: 2 !important;
}

@media (max-width: 768px) {
	.lb-search .lb-search__main {
		margin-left: 0 !important;
	}
	.lb-search .lb-search__headline {
		padding-top: 0;
	}
	.lb-search .lb-quick-searches__headings {
		justify-content: flex-start;
		gap: 20px;
	}
	.lb-search .lb-quick-searches__heading {
		margin: 0;
	}
}
