.in-kosik #fvstudio-delivery-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
}
.in-kosik .extra.delivery > span {
	max-width: 80%;
	text-align: left;
}
.in-kosik .extra.delivery > span strong {
	margin-right: 0;
}
.in-kosik .extra.delivery::before {
	margin-left: 10px;
}

.ordering-process.id--9 #fvstudio-delivery-info .extra.delivery,
.content-window.cart-window #fvstudio-delivery-info .extra.delivery {
	max-width: 100%;
	margin-left: 0;
}

.in-kosik .extra.discount::before {
	display: none;
}

.ordering-process.id--9 .discount-coupon {
	width: 100% !important;
}

.flag-velkoobchod {
	display: none !important;
}

/*header mobil*/
@media (max-width: 768px) {
	.responsive-tools .toggle-window[data-target="login"] {
		display: none;
	}
	.search {
		display: none;
	}

	.search-window-visible .search {
		display: block;
	}
}

/*menu kategorii mobil*/
@media (max-width: 768px) {
	#header #navigation .navigation-in.menu .menu-level-1 > .exp .menu-level-2 {
		columns: 1;
		max-height: none !important;
	}
	#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 > li {
		padding: 5px 0 5px 0;
	}
	.navigation-in ul.menu-level-2 li a {
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#header #navigation .navigation-in.menu .menu-level-1 .menu-level-2 .menu-level-3 li {
		display: flex;
		align-items: center;
	}
	.menu-level-1 > li > a {
		padding-left: 10px !important;
	}
}
/*luigy*/
#lb-results .products {
	display: grid !important;
}

#lb-results .products .product .p .p-in-in,
#lb-results .products .product .p .p-bottom > div {
	--productCategoryGrid: 3.6em 4em 1.467em 1.2em;
}

#lb-results .products-block.products {
	--product-brand-columns: 1;
	--product-brand-gap: 0px;
	column-gap: var(--product-brand-gap);
	row-gap: calc(var(--product-brand-gap) * 2);
}

#lb-results .products-block.products .product {
	width: calc(
		100% / var(--product-brand-columns) -
			(var(--product-brand-gap) * (var(--product-brand-columns) - 1) / var(--product-brand-columns))
	);
	padding: 0;
	border-style: none;
}

#lb-results .products-block.products .product .p > a {
	margin-bottom: 0;
}

#lb-results .products-block.products .product img {
	margin: 80px 0 70px 0;
}

#lb-results .content.wide {
	max-width: none;
}
@media (max-width: 440px) {
	#lb-results .products-block.products {
		row-gap: 24px !important;
	}
}

@media (min-width: 440px) {
	#lb-results .products-block.products {
		--product-brand-columns: 2;
		--product-brand-gap: 12px;
	}
}

@media (min-width: 768px) {
	#lb-results .content.wide {
		margin-left: var(--padding-sides);
	}
}

@media (min-width: 1200px) {
	#lb-results .products-block.products {
		--product-brand-columns: 3;
		--product-brand-gap: 12px;
	}
}

@media (max-width: 1440px) {
	#lb-results .products-block.products {
		row-gap: calc(var(--product-cat-gap) * 3);
	}
}

@media (min-width: 1440px) {
	#lb-results .products-block.products {
		--product-brand-columns: 4;
		--product-brand-gap: 14px;
	}
}

@media (min-width: 1660px) {
	#lb-results .products-block.products {
		--product-brand-columns: 5;
		--product-brand-gap: 14px;
	}
}
