.ordering-process .navigation-buttons {
	display: none;
}

.cart-header .step.step-1 span::before {
	content: "1" !important;
}
.cart-header .step.step-2 span::before {
	content: "2" !important;
}
.cart-header .step.step-3 span::before {
	content: "3" !important;
}
.ordering-process .next-step-back {
	line-height: 1;
}

body.ordering-process {
	background-color: transparent;
	padding-bottom: 6vh;
}

body.ordering-process .content.wide {
	max-width: 1440px;
}

/*universal*/
.ordering-process .cart-content {
	padding: 0;
	margin-top: 20px;
}

.ordering-process ol.cart-header {
	text-align: center;
	margin: 0;
	border-color: var(--color-gray-500);
}

.ordering-process ol.cart-header li {
	padding-bottom: 10px;
}

.ordering-process ol.cart-header li strong,
.ordering-process ol.cart-header li a {
	padding: 0;
	border-style: none;
}
.ordering-process .step span {
	display: flex;
	justify-content: center;
}
.ordering-process .cart-header .step span::after {
	display: block;
	position: absolute;
	content: "\e910";
	font-size: 12px;
	font-weight: 400;
	right: 0;
	font-family: shoptet;
}
.ordering-process .cart-header > .step:last-child span::after {
	display: none;
}

ol.cart-header li a span,
ol.cart-header li strong span {
	color: var(--color-gray-700);
	display: flex;
	align-items: center;
	text-transform: none;
}
ol.cart-header li a span::before,
ol.cart-header li strong span::before {
	border-radius: var(--border-radius);
	border-color: var(--color-gray-600);
	border-width: 1px;
	width: 42px;
	height: 46px;
	font-size: 16px;
	margin-right: 1.2em;
	display: grid;
	align-items: center;
}
ol.cart-header li.active a span,
ol.cart-header li.active strong span {
	font-weight: 600;
}
ol.cart-header li.active a span,
ol.cart-header li.active strong span,
ol.cart-header li:hover a span,
ol.cart-header li:hover strong span {
	color: var(--color-primary);
}
ol.cart-header li.active a span::before,
ol.cart-header li.active strong span::before {
	border-color: transparent;
	background: var(--color-primary-100);
}

/*krok 1*/
.in-kosik tr.related,
.in-kosik .show-related {
	display: none !important;
}

.applied-coupon form {
	position: absolute;
	right: 0;
	top: 0;
	box-shadow: none !important;
}

.applied-coupon form .btn {
	border-radius: var(--border-radius);
}
.ordering-process .row.cart-row {
	display: flex;
	align-items: flex-start;
}
.ordering-process .row.cart-row .col-md-8 {
	width: auto;
	flex: 1 1 66%;
}

.ordering-process .cart-table tr {
	display: flex;

	border-color: var(--color-gray-500);
	border-width: 1px;
	border-bottom-style: solid;
	align-items: center;
	padding: 15px 0;
}
.ordering-process .cart-table td {
	border-style: none;
}

.ordering-process .cart-table td.cart-p-image {
	width: 100px;
	height: auto;
	padding: 0;
}

.ordering-process .cart-table td.cart-p-image a {
	width: 100%;
	display: flex;
	justify-content: center;
}

.ordering-process .cart-table td.cart-p-image a img {
	width: 80%;
}

.ordering-process .cart-table td.p-name {
	flex: 1;
}

.ordering-process .cart-table td.p-name a {
	text-transform: none;
	color: var(--color-800);
	font-weight: 500;
}

.ordering-process .p-availability.p-cell {
	width: 100px;
	margin-left: 10px;
	text-align: left;
}

.ordering-process .p-availability.p-cell strong {
	font-weight: 400;
	font-size: 14px;
}
.ordering-process .p-quantity.p-cell {
	width: 100px;
}

.ordering-process .quantity {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 80%;
	margin: auto;
	height: 36px;
	border-radius: var(--border-radius);
	border-color: var(--color-gray-600);
	border-style: solid;
	padding: 0;
	overflow: hidden;
}

.ordering-process .quantity input {
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--color-black-800);
	font-weight: 400;
	order: 2;
}
.ordering-process .quantity .decrease {
	order: 1;
	padding-left: 2px;
}
.ordering-process .quantity .increase {
	order: 3;
	padding-right: 2px;
}

.ordering-process .quantity .increase,
.ordering-process .quantity .decrease {
	position: relative;
	display: flex;
	inset: 0;
	border-style: none;
	color: var(--color-gray-600);
	background: none;
	border-color: var(--color-primary);
}
.ordering-process .quantity .increase::before,
.ordering-process .quantity .decrease::before {
	position: relative;
	line-height: 1;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-main);
	font-weight: 400;
	border-width: 1px;
	height: 100%;
	margin: auto;
}
.ordering-process .quantity .increase::before {
	content: "+";
	font-size: 16px;
}
.ordering-process .quantity .decrease::before {
	content: "–";
	font-size: 15px;
	line-height: 1.2;
}
.ordering-process .quantity .increase:hover::before,
.ordering-process .quantity .decrease:hover::before {
	color: var(--color-black-600);
}
.ordering-process .p-price {
	width: 100px;
	margin-left: 10px;
	text-align: left;
}

.ordering-process .p-price strong,
.ordering-process .p-price span {
	color: var(--color-black-800);
	font-weight: 500;
}

.ordering-process .p-discount {
	color: var(--color-black-800);
	min-width: 60px;
	padding: 0;
}
.ordering-process .p-total {
	width: 100px;
	padding: 0 20px 0 0;
	position: relative;
}
.ordering-process .p-total form {
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translatey(-50%);
}

.ordering-process .p-total .price-final {
	color: var(--color-black-800);
}
.ordering-process .remove-item::before {
	color: var(--color-black-800);
}
.ordering-process .remove-item:hover::before {
	color: var(--color-red-400);
}

.show-tooltip.acronym[data-original-title] {
	padding-bottom: 2px;
}

.in-kosik #dkLabFavCartWrapper .products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap);
}
.in-kosik #dkLabFavCartWrapper .products img {
	margin: 20px 0 30px 0;
}
.in-kosik #dkLabFavCartWrapper .product {
	width: 100%;
	border-style: none;
}
.in-kosik #dkLabFavCartWrapper {
	max-width: 1440px;
	margin: auto;
}

/*vycet produktu v kosiku*/
.ordering-process .cart-table td.cart-p-image::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background-color: hsla(203, 7%, 47%, 0.06);
	border-radius: var(--border-radius);
}

.ordering-process .cart-table td.cart-p-image {
	position: relative;
	margin-right: 5px;
	padding: 5px 0;
}

@media (max-width: 767px) {
	.ordering-process .cart-table tr {
		display: grid;
		grid-template-columns: 20% 26.66% 26.66% 26.66%;
	}
	.ordering-process .cart-table td.cart-p-image {
		width: auto;
		margin: 0 5px 0 0;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.cart-table tr > td:nth-child(even).p-name {
		width: 100%;
		grid-column-start: 2;
		grid-column-end: 5;
	}
	.ordering-process .p-availability.p-cell {
		grid-column: 2;
		width: auto;
		display: flex;
		justify-content: left;
		gap: 5px;
		margin: 5px;
		padding: 0;
	}
	.ordering-process .p-availability.p-cell .p-label {
		display: none;
	}
	.ordering-process .p-quantity.p-cell {
		grid-column: 3;
		margin: 5px;
		padding: 0;
	}
	.ordering-process .quantity-form .quantity {
		margin: 0;
	}
	.ordering-process .p-price {
		display: none;
	}
	.ordering-process .cart-table tr > td.p-total {
		grid-column: 4;
		text-align: left;
		width: auto;
	}
	.ordering-process .remove-item::before {
		color: var(--color-red-400);
		font-size: 12px;
	}
	.ordering-process .cart-table tr > td.p-total .p-label {
		display: none;
	}
	.ordering-process .cart-table tr > td.p-total .price-final {
		font-size: 16px;
		margin: 5px 5px 5px 8px;
	}
}

/*Dárky v košíku*/
.in-kosik .cart-summary h4,
.in-kosik .cart-summary .extra.gift {
	margin-left: 10px;
}
.in-kosik .extras-col {
	max-width: none;
}
.in-kosik .cart-summary {
	padding-left: 0;
	padding-right: 0;
}

.in-kosik a.free-gift-trigger {
	display: none;
}

.in-kosik ul.free-gifts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 10px;
}

.in-kosik ul.free-gifts > li {
	--giftGap: 10px;
	display: grid;
	width: calc(33% - var(--giftGap));
	padding: 15px 2px 15px 5px;
	margin: 0 calc(var(--giftGap) / 2) var(--giftGap) calc(var(--giftGap) / 2);
	border-style: solid;
	border-radius: var(--border-radius);
	border-width: 1px;
	border-color: var(--color-primary-100);
	cursor: pointer;
	position: relative;
}
.in-kosik .free-gift > .free-product-gifts-wrapper .free-product-gifts {
	width: calc(33% - 10px);
	margin: 0 5px;
	padding: 10px 5px;
	border-style: solid;
	border-radius: var(--border-radius);
	border-width: 1px;
	border-color: var(--color-secondary);
	position: relative;
}
.in-kosik .free-gift > .free-product-gifts-wrapper .free-product-gifts::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	background: var(--color-secondary);
	transition: none;
	opacity: 0.03;
}
@media (max-width: 1200px) {
	.in-kosik ul.free-gifts > li {
		width: calc(50% - var(--giftGap));
	}
	.in-kosik .free-gift > .free-product-gifts-wrapper .free-product-gifts {
		width: calc(50% - 10px);
	}
}
@media (max-width: 440px) {
	.in-kosik ul.free-gifts > li {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.in-kosik ul.free-gifts > li:hover,
.in-kosik ul.free-gifts > li.active {
	border-color: var(--color-primary);
}
.in-kosik ul.free-gifts > li.active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	background: hsla(268, 40%, 58%, 0.03);
	transition: none;
}

.in-kosik .free-gifts-img-hover {
	display: none !important;
}

.in-kosik ul.free-gifts > li .free-gift-name {
	text-transform: none;
}

/*kosik 2 produktz vedle sebe*/
@media (max-width: 440px) {
	.in-kosik ul.free-gifts > li {
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
		align-content: center;
	}
	.free-gifts-img > img {
		width: 45px;
	}
	.free-gift-label {
		padding-left: 5px;
		font-size: 1.2rem;
	}
}

/*schovani natios zasobniku*/
.in-kosik.cs ul.free-gifts li[data-free-gift-id="10188"] {
	display: none;
}
.in-kosik.sk ul.free-gifts li[data-free-gift-id="20589"] {
	display: none;
}

/*potrebujete pomoc?*/
.sidebar-in-cart {
	max-width: 440px;
	flex: 1 1 33%;
	padding: 0 !important;
	margin-left: 20px;
	margin-top: 20px;
	position: sticky;
	top: calc(var(--header-height) + 30px);
}

.contact-box > img {
	left: 0;
}

.sidebar-in-cart .cart-content {
	margin: 0;
}

.sidebar-in-cart > * {
	background: var(--color-primary-100);
	border-radius: var(--border-radius);
	padding: 20px !important;
	margin-bottom: var(--gap) !important;
}
.sidebar-in-cart h4 {
	margin-top: 0;
}

.sidebar-in-cart .contact-box {
	min-height: auto;
}

.sidebar-in-cart .price-wrapper {
	justify-content: space-between;
}

.sidebar-in-cart .price-wrapper > * {
	flex: 1 1 50%;
	padding: 0;
	font-size: 14px;
}
.sidebar-in-cart .price-wrapper .price.price-primary {
	font-size: 22px;
	margin-bottom: 10px;
}

.sidebar-in-cart .price-wrapper .price-secondary {
	color: var(--color-black-800);
	opacity: 0.9;
}

.sidebar-in-cart .next-step.next-step--cart {
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
}
.sidebar-in-cart .next-step.next-step--cart > a:first-child {
	color: var(--color-black-800);
	opacity: 0.9;
	padding: 0;
}
.sidebar-in-cart .next-step.next-step--cart > a:first-child span {
	display: flex;
}
.sidebar-in-cart .next-step.next-step--cart > a:first-child span::before {
	content: "\e90f";
	font-family: shoptet;
	font-size: 10px;
	align-self: center;
	position: relative;
	top: 1px;
	margin-right: 6px;
}
.sidebar-in-cart .next-step.next-step--cart > a:first-child:hover {
	color: var(--color-primary);
	opacity: 1;
	transition: none;
}
.sidebar-in-cart .next-step.next-step--cart > a:last-child {
	border-radius: var(--border-radius);
	border-style: none;
	background: var(--color-primary);
}
.sidebar-in-cart .next-step.next-step--cart > a:last-child:hover {
	background: var(--color-primary-hover);
}
.sidebar-in-cart .extra.delivery span {
	flex-grow: 0;
}

.sidebar-in-cart .extra.delivery span strong {
	color: var(--color-black-800);
	margin-right: 10px;
}
.sidebar-in-cart .extra.delivery::before {
	position: relative;
	flex: 0;
	order: 2;
	margin: 0;
	color: var(--color-black-800);
}

.sidebar-in-cart .delivery-time strong {
	font-weight: 400;
}

.sidebar-in-cart .extras-col {
	max-width: none;
}

.ordering-process .extra.gift {
	max-width: 500px;
	padding-left: 0;
}
.ordering-process .price-range {
	margin-top: 5px;
	margin-bottom: 0;
	border-radius: var(--border-radius);
	overflow: hidden;
}
.ordering-process .extra.gift::before {
	position: relative;
	color: var(--color-black-600);
	margin: 0;
	margin-right: 10px;
	top: auto;
}

.sidebar-in-cart .discount-coupon {
	padding: 0;
	margin: 20px 0 25px;
}
.sidebar-in-cart .discount-coupon::before {
	display: none;
}
.discount-coupon form {
	height: 44px;
	box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.1);
	border-radius: var(--border-radius);
}

.sidebar-in-cart .discount-coupon .form-control {
	color: var(--color-black-800);
	opacity: 1;
}
.sidebar-in-cart .discount-coupon .form-control::placeholder {
	color: var(--color-black-800);
	opacity: 0.5;
}
.sidebar-in-cart .discount-coupon .form-control:-ms-input-placeholder {
	color: var(--color-black-800);
	opacity: 0.5;
}
.sidebar-in-cart .discount-coupon .form-control::-ms-input-placeholder {
	color: var(--color-black-800);
	opacity: 0.5;
}

.free-gifts-wrapper form,
.discount-coupon input {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	border-style: none;
	height: 100%;
}

.sidebar-in-cart .discount-coupon button {
	background-color: var(--color-black-600);
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	border-style: none;
	color: white;
	font-weight: 400;
	letter-spacing: 0;
	font-family: var(--ff-main) !important;
	width: auto;
	position: relative;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
	height: 100%;
}

/*krok 2*/
.in-krok-1.ordering-process .row.cart-row .step-1 {
	border-style: none;
}

.in-krok-1.ordering-process .row.cart-row {
	flex-wrap: wrap;
}

.in-krok-1.ordering-process .co-basic-information {
	display: flex;
	gap: clamp(20px, 4%, 60px);
	padding: 30px 20px 30px 26px;
	margin: 20px 0 0;
	border-top-style: solid;
	border-width: 1px;
	border-color: var(--color-gray-500);
}

.in-krok-1.ordering-process .row.cart-row .col-sm-12 {
	float: none;
}
.in-krok-1.ordering-process .co-basic-information label {
	padding: 0;
}
.in-krok-1.ordering-process .checkout-box,
.in-krok-2.ordering-process .checkout-box {
	margin: 0;
}
.in-krok-1.ordering-process .checkout-box .btn,
.in-krok-2.ordering-process .checkout-box .btn {
	display: block;
	background-color: transparent;
	color: var(--color-black-800);
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: none;
	padding: 0;
	margin: 0;
	width: auto;
	text-align: left;
	border-style: none;
	pointer-events: none;
}
.in-krok-1.ordering-process .checkout-box .btn br,
.in-krok-1.ordering-process .checkout-box .btn span,
.in-krok-2.ordering-process .checkout-box .btn br,
.in-krok-2.ordering-process .checkout-box .btn span {
	display: none;
}
.in-krok-1.ordering-process .checkout-box .contact-box,
.in-krok-2.ordering-process .checkout-box .contact-box {
	min-height: auto;
}

.in-krok-1.ordering-process .checkout-box .box.box-sm,
.in-krok-2.ordering-process .checkout-box .box.box-sm {
	visibility: visible;
	height: auto;
	webkit-transform: none;
	transform: none;
}

.in-krok-1.ordering-process .row.cart-row .col-md-8 {
	flex: 1 0 100%;
}

.in-krok-1.ordering-process .row.cart-row .col-md-4 {
	flex: 1 0 100%;
	position: initial !important;
}

.in-krok-1 .cart-content form.order-delivery-payment-form {
	display: grid;
	margin: 20px 0;
	padding: 40px 0;
	grid-template-columns: 1fr 1fr;
	gap: calc(var(--gap) * 2.5);
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	border-color: var(--color-gray-500);
}

.in-krok-1 .cart-content form.order-delivery-payment-form > div {
	border-style: none;
	box-shadow: 8px 6px 20px #cecece, -8px -6px 16px #fff;
	border-radius: var(--border-radius);
}

.in-krok-1.ordering-process .co-delivery-method,
.in-krok-1.ordering-process .co-payment-method {
	padding: 25px 20px 15px 25px;
}
.in-krok-1 .co-payment-method {
	opacity: 1;
	transition: opacity 0.2s ease;
}
.in-krok-1 .co-payment-method.unactive {
	pointer-events: none;
	opacity: 0.3;
}

.in-krok-1.ordering-process h4,
.in-krok-2.ordering-process h4 {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0 0 16px 6px;
	color: var(--color-black-800);
	font-size: 18px;
}
.in-krok-1.ordering-process .co-basic-information h4 {
	margin-bottom: 0;
}
.in-krok-1.ordering-process .co-box h4::before,
.in-krok-2.ordering-process .co-box h4::before {
	position: initial;
	margin-top: 0;
	margin-right: 14px;
}
.in-krok-1.ordering-process .co-basic-information h4::before {
	position: initial;
	margin-top: 0;
	margin-right: 20px;
}
.in-krok-1.ordering-process .co-box .radio-wrapper {
	padding: 0;
	display: grid;
	align-items: center;
	position: relative;
}

.in-krok-1.ordering-process .co-payment-method label,
.in-krok-1.ordering-process .co-delivery-method label {
	padding: 12px 0 12px 24px;
}
.in-krok-1.ordering-process .co-delivery-method label > span:first-child b,
.in-krok-1.ordering-process .co-payment-method label > span:first-child b {
	font-weight: 500;
	color: var(--color-black-800);
	text-transform: none;
}
.in-krok-1.ordering-process .co-box .radio-wrapper.active label > span:first-child b {
	font-weight: 700;
	color: var(--color-primary);
	text-transform: uppercase;
}
.in-krok-1.ordering-process .co-box .radio-wrapper.active::before {
	content: "";
	position: absolute;
	z-index: -0;
	top: -1px;
	left: -25px;
	width: calc(100% + 45px);
	height: calc(100% + 2px);
	background: var(--color-primary-100);
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
}

.in-krok-1.ordering-process .co-payment-method .inactive-child {
	pointer-events: none;
}
.in-krok-1.ordering-process .co-payment-method .inactive-child > * {
	opacity: 0.5;
}
.in-krok-1.ordering-process .co-payment-method .inactive-child strong {
	display: none;
}
.in-krok-1.ordering-process .order-summary-inner,
.in-krok-2.ordering-process .order-summary-inner {
	display: grid;
	grid-template-columns: 1fr max(31%, 400px);
	column-gap: 40px;
}
.in-krok-1.ordering-process .order-summary-inner > *,
.in-krok-2.ordering-process .order-summary-inner > * {
	grid-column: 2;
	padding: 0 20px;
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
}
.in-krok-1.ordering-process .order-summary-inner > *:nth-child(-n + 3),
.in-krok-2.ordering-process .order-summary-inner > *:nth-child(-n + 3) {
	grid-column: 1;
}
.in-krok-1.ordering-process .order-summary-inner h4,
.in-krok-2.ordering-process .order-summary-inner h4 {
	display: block;
	grid-row: 1;
	grid-column: 1;
	margin-top: 0;
	position: relative;
	height: auto;
	pointer-events: none;
}

.in-krok-1.ordering-process .order-summary-inner h4::after,
.in-krok-2.ordering-process .order-summary-inner h4::after {
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	position: absolute;
	background: red;
}

.in-krok-1.ordering-process .order-summary-inner .cart-items,
.in-krok-2.ordering-process .order-summary-inner .cart-items {
	grid-column: 1;
	grid-row-start: 1;
	margin-top: 40px;
	grid-row-end: 7;
	border-style: none;
}
.in-krok-1.ordering-process .order-summary-inner .gift-items,
.in-krok-2.ordering-process .order-summary-inner .gift-items {
	grid-column: 1;
	grid-row: 7;
	padding-bottom: 0;
	padding-top: 20px;
	margin-top: 5px;
	border: 0;
	border-top-color: var(--color-secondary);
	border-top-style: solid;
	border-width: 3px;
}
.in-krok-1 .cart-item-gift .cart-item-name,
.in-krok-2 .cart-item-gift .cart-item-name {
	display: flex;
	flex-direction: column;
}
.in-krok-1 .cart-item-gift .cart-item-name span,
.in-krok-2 .cart-item-gift .cart-item-name span {
	margin-bottom: 10px;
}
.in-krok-1.ordering-process .order-recapitulation,
.in-krok-2.ordering-process .order-recapitulation {
	grid-row: 1;
}
.in-krok-1.ordering-process .order-summary-item.helper,
.in-krok-2.ordering-process .order-summary-item.helper {
	grid-row: 2;
}
.in-krok-1.ordering-process .order-summary-item.price,
.in-krok-2.ordering-process .order-summary-item.price {
	grid-row: 3;
	border-style: none;
}
.in-krok-1.ordering-process .next-step {
	grid-row: 4;
	border-style: none;
}

.in-krok-1 .order-recapitulation > div,
.in-krok-2 .order-recapitulation > div,
.in-krok-1 .order-recapitulation > div *,
.in-krok-2 .order-recapitulation > div *,
.in-krok-1 .order-summary-item > div,
.in-krok-2 .order-summary-item > div,
.in-krok-1 .order-summary-item > div *,
.in-krok-2 .order-summary-item > div *,
.in-krok-1 .price-wrapper .price.price-primary,
.in-krok-2 .price-wrapper .price.price-primary {
	padding: 0;
	font-size: 16px;
	font-weight: 400 !important;
	line-height: 1;
}
.in-krok-1 .summary-background,
.in-krok-2 .summary-background {
	grid-column: 2 !important;
	grid-row-start: 1;
	grid-row-end: 6;
	width: 100%;
	height: calc(100% + 50px);
	margin-top: 10px;
	justify-self: center;
	align-self: center;
	border-radius: var(--border-radius);
	background: 0 0;
	box-shadow: 8px 6px 20px #cecece, -8px -6px 16px #fff;
	pointer-events: none;
}
.in-krok-1 .rekapitulace-background,
.in-krok-2 .rekapitulace-background {
	position: relative;
	grid-column: 1 !important;
	height: 100%;
	grid-row-start: 1;
	grid-row-end: 8;
	border-radius: var(--border-radius);
	width: 100%;
	justify-self: center;
	height: calc(100% + 50px);
	margin-top: 10px;
	align-self: center;
	border-radius: 10px;
	background: 0 0;
	box-shadow: 8px 6px 20px #cecece, -8px -6px 16px #fff;
	pointer-events: none;
}
.in-krok-1 .col-md-4,
.in-krok-2 .col-md-4 {
	padding: 0;
}
.in-krok-1 .cart-item-name a,
.in-krok-2 .cart-item-name a {
	text-transform: none;
}
.in-krok-1 .order-summary {
	margin-top: 40px;
}
.in-krok-2 .order-summary {
	margin-top: 40px;
	padding-top: 65px;
	border-top-style: solid;
	border-width: 1px;
	border-color: var(--color-gray-500);
}
.in-krok-1 .order-summary-item.helper,
.in-krok-2 .order-summary-item.helper {
	justify-content: space-between;
	grid-column: 2 !important;
}
.in-krok-1 .order-summary-item.helper > *,
.in-krok-2 .order-summary-item.helper > * {
	flex: auto !important;
}
.in-krok-1 .recapitulation-single,
.in-krok-2 .recapitulation-single,
.in-krok-1 .price-wrapper > *,
.in-krok-2 .price-wrapper > *,
.in-krok-1 .order-summary-item.helper,
.in-krok-2 .order-summary-item.helper {
	margin-bottom: 1em;
}
.in-krok-2 .recapitulation-single > span {
	display: none;
}
.in-krok-1 .recapitulation-single span,
.in-krok-2 .recapitulation-single span {
	font-weight: 600 !important;
}
.in-krok-1 .order-summary-item .price-primary,
.in-krok-2 .order-summary-item .price-primary {
	font-weight: 700 !important;
}
.in-krok-1 .order-summary-item .price-primary *,
.in-krok-2 .order-summary-item .price-primary * {
	font-weight: 800 !important;
	font-size: 1.6em;
}
.in-krok-1 .next-step,
.in-krok-2 .next-step {
	display: flex;
	flex-direction: column;
}
.in-krok-1 .next-step a,
.in-krok-2 .next-step a {
	padding: 0;
	text-align: center;
	width: 100%;
}
.in-krok-1 .next-step .btn,
.in-krok-2 .next-step .btn {
	border-radius: var(--border-radius);
	width: 100%;
	position: relative;
	margin-top: 10px;
}
.in-krok-1 .next-step .btn::after,
.in-krok-2 .next-step .btn::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*posledni krok*/
.in-krok-2 #checkoutContent > .cart-content {
	display: flex;
	flex-wrap: wrap;
}
.in-krok-2 .row.cart-row {
	flex-wrap: wrap;
}

.in-krok-2 .col-md-4 {
	width: 100%;
	position: initial !important;
}

.in-krok-2 .cart-header.step-2 {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.in-krok-2 .co-contact-information,
.in-krok-2 .co-billing-address,
.in-krok-2 #shipping-address {
	border-style: none;
	box-shadow: 8px 6px 20px #cecece, -8px -6px 16px #fff;
	border-radius: var(--border-radius);
	padding: 25px 20px 15px 25px;
	width: calc(50% - (var(--gap) * 1.25));
}
.in-krok-2 #shipping-address {
	margin-top: calc(var(--gap) * 2.5);
	margin-left: auto;
}
.in-krok-2 .co-shipping-address {
	padding: 0;
	border-style: none;
}

.in-krok-2 .co-contact-information {
	margin-right: auto;
}

.in-krok-2 .form-group > input.form-control,
.in-krok-2 .form-group > select.form-control,
.in-krok-2 .phone-combined-input,
.in-krok-2 .form-group > div > a {
	max-width: none;
	width: clamp(217px, 50%, 600px);
}
.in-krok-2 .form-group > div > a {
	background: var(--color-primary);
	color: white;
	border-style: none;
	padding: 7px 0;
	border-radius: var(--border-radius);
}
.in-krok-2 .form-group > div > a:hover {
	background: var(--color-primary-hover) !important;
}

.in-krok-2 .recapitulation-single > span {
	flex: 0 1 auto;
	font-weight: 400 !important;
}
.in-krok-2 .recapitulation-single > strong {
	flex: 1;
}
.in-krok-2 .recapitulation-single > span::after {
	content: ":";
	margin-right: 6px;
}
.in-krok-2 .co-box.co-box-additional {
	padding: 0;
	border-style: none;
}

.in-krok-2 .checkout-box {
	grid-row: 4;
	margin: 0 0 10px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background: var(--color-primary-100);
}
.in-krok-2 .consents-first {
	grid-row: 5;
}
.in-krok-2.ordering-process .next-step {
	grid-row: 6;
	border-style: none;
}
.in-krok-2 .summary-background {
	grid-row-end: 7;
}

.in-krok-1 .next-step a,
.in-krok-2 .next-step a {
	margin-top: 14px;
}
.in-krok-2 .consents {
	text-align: left;
	margin-bottom: 16px;
}
.in-krok-2 .consents-first {
	margin-top: 20px;
}
.in-krok-1 .next-step > button,
.in-krok-2 .next-step > button {
	order: 1;
}
.in-krok-1 .next-step > a,
.in-krok-2 .next-step > a {
	order: 2;
}
.in-krok-2 .next-step > div {
	order: 3;
}

/*Dekujeme za objednávku*/
.in-dekujeme h4,
.in-dakujeme h4 {
	margin-left: -55px;
	padding-left: 80px;
}
.in-dekujeme .co-payment-method,
.in-dakujeme .co-payment-method {
	padding: 20px 40px 30px 40px;
}

.in-dekujeme .col-sm-12,
.in-dakujeme .col-sm-12 {
	float: none;
}

.in-dekujeme .co-order,
.in-dakujeme .co-order {
	padding: 40px;
}
.in-dekujeme .recapitulation-wrapper .cart-table .cart-p-image,
.in-dakujeme .recapitulation-wrapper .cart-table .cart-p-image {
	display: flex;
	justify-content: center;
}
@media (max-width: 767px) {
	.in-dekujeme .recapitulation-wrapper .cart-table .cart-p-image,
	.in-dakujeme .recapitulation-wrapper .cart-table .cart-p-image {
		width: 100%;
		flex-basis: 100%;
	}
	.in-dekujeme .p-name,
	.in-dakujeme .p-name {
		padding: 0 5% 0.25em 5% !important;
		text-align: center !important;
		font-weight: 600;
		flex-basis: 100% !important;
	}
	.in-dekujeme .p-cell,
	.in-dakujeme .p-cell {
		flex-basis: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		text-align: center !important;
		justify-content: center !important;
	}
	.in-dekujeme .p-quantity.p-cell strong,
	.in-dakujeme .p-quantity.p-cell strong {
		font-weight: 400 !important;
	}
	.in-dekujeme .p-price.p-cell,
	.in-dakujeme .p-price.p-cell {
		font-weight: 600 !important;
	}
	.in-dekujeme h4,
	.in-dakujeme h4 {
		margin-left: -5px;
		padding-left: 55px;
		line-height: 1.5;
	}
	.in-dekujeme .co-order,
	.in-dakujeme .co-order {
		padding: 20px 40px 30px 40px;
	}

	.in-dekujeme .co-box.co-payment-method .row,
	.in-dakujeme .co-box.co-payment-method .row {
		background: var(--color-gray-200);
		border-radius: calc(var(--border-radius) * 2);
		margin-left: -10px;
		margin-right: -10px;
		width: calc(100% + 20px);
		padding: var(--gap);
		text-align: center;
	}
	.in-dekujeme .recapitulation-table th,
	.in-dakujeme .recapitulation-table th {
		text-align: center !important;
		margin-top: var(--gap);
	}
	.in-dekujeme .co-box.co-order .cart-table,
	.in-dakujeme .co-box.co-order .cart-table {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.in-dekujeme .order-complete-links a,
	.in-dakujeme .order-complete-links a {
		border-radius: var(--border-radius);
	}
}
/*shoptet paz prevod fix*/
.pisPaymentMethod {
	position: relative;
}
.bankSelection {
	font-family: var(--ff-main);
}
.bankSelection__selected {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.bankSelection__button {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
/*kosik animace*/
.showAllOrder {
	display: flex;
	width: auto;
	text-align: center;
	font-weight: 600;
	color: var(--color-primary);
	z-index: 90;
	position: relative;
	cursor: pointer;
	margin-top: var(--gap);
	justify-content: center;
	align-items: center;
	display: none;
}
.showAllOrder::after {
	content: "\e90e";
	font-family: "shoptet";
	font-size: 10px;
	margin-left: 5px;
}
.selected .showAllOrder {
	display: flex;
}

@media (max-width: 1000px) {
	.in-kosik .row.cart-row {
		flex-direction: column;
	}
	.in-kosik .row.cart-row > div {
		flex: 1 0 100% !important;
	}
	.in-kosik .sidebar-in-cart {
		max-width: none;
		width: 100%;
		margin-left: 0;
	}
	.in-kosik #dkLabFavCartWrapper .products {
		grid-template-columns: repeat(3, 1fr);
	}
	.in-krok-1 .order-summary {
		margin-top: 0;
	}
	.in-krok-1.ordering-process .order-summary-inner h4,
	.in-krok-2.ordering-process .order-summary-inner h4 {
		margin-top: 20px;
	}
	.in-krok-1 .cart-content form.order-delivery-payment-form {
		grid-template-columns: 1fr;
		gap: calc(var(--gap) * 3);
	}
	.in-krok-1.ordering-process .order-summary-inner,
	.in-krok-2.ordering-process .order-summary-inner {
		grid-template-columns: 1fr;
	}
	.in-krok-1.ordering-process .order-summary-inner .cart-items,
	.in-krok-2.ordering-process .order-summary-inner .cart-items {
		grid-row: 2;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.in-krok-1.ordering-process .order-summary-inner .cart-items.gift-items,
	.in-krok-2.ordering-process .order-summary-inner .cart-items.gift-items {
		grid-row: 3;
		margin-bottom: 20px;
	}
	.in-krok-1 .rekapitulace-background,
	.in-krok-2 .rekapitulace-background {
		grid-row-start: 1;
		grid-row-end: 4;
		height: 100%;
	}
	.in-krok-1.ordering-process .order-summary-inner > *,
	.in-krok-2.ordering-process .order-summary-inner > * {
		grid-column: 1;
	}
	.in-krok-1.ordering-process #shipping-billing-summary,
	.in-krok-2.ordering-process #shipping-billing-summary {
		grid-row: 6;
		margin-top: 40px;
	}
	.in-krok-1.ordering-process .order-summary-item.helper,
	.in-krok-2.ordering-process .order-summary-item.helper {
		grid-row: 7;
		grid-column: 1 !important;
	}
	.in-krok-1.ordering-process .order-summary-item.price,
	.in-krok-2.ordering-process .order-summary-item.price {
		grid-row: 8;
	}
	.in-krok-1.ordering-process .next-step {
		grid-row: 9;
	}
	.in-krok-1 .summary-background,
	.in-krok-2 .summary-background {
		grid-column: 1 !important;
		grid-row-start: 6;
		grid-row-end: 10;
		height: 100%;
		margin-top: 50px !important;
	}
	.in-krok-1 .next-step .btn,
	.in-krok-2 .next-step .btn {
		margin-bottom: 10px;
	}
	.cart-header .step {
		border-color: var(--color-gray-500);
	}
	.in-krok-1 .order-icon.order-information {
		margin: 0;
	}
	.in-krok-1.ordering-process .row.cart-row .col-sm-12 {
		padding: 0;
	}
	.in-krok-1.ordering-process .co-basic-information {
		flex-wrap: wrap;
		border-top-style: none;
		padding: 20px 10px;
		margin: 0;
	}
	.in-krok-1.ordering-process .cart-content #order-form {
		margin-top: 0;
		padding: 20px 0px;
	}
	.in-krok-2 .cart-header.step-2 {
		margin-bottom: var(--gap);
	}
	.in-krok-2 .co-contact-information,
	.in-krok-2 .co-billing-address,
	.in-krok-2 #shipping-address {
		width: 100%;
	}
	.in-krok-2 .co-contact-information {
		margin-bottom: calc(var(--gap) * 3);
	}
	.in-krok-2 .form-group > input.form-control,
	.in-krok-2 .form-group > select.form-control,
	.in-krok-2 .phone-combined-input,
	.in-krok-2 .form-group > div > a {
		width: 100%;
	}
	.in-krok-2 .checkout-box {
		background: transparent;
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	.in-krok-2 .form-group > input.form-control,
	.in-krok-2 .form-group > select.form-control,
	.in-krok-2 .phone-combined-input,
	.in-krok-2 .form-group > div > a {
		grid-row: 5;
	}
	.in-krok-2 #shipping-billing-summary {
		display: none;
	}
	.in-krok-2 .order-recapitulation {
		grid-row: 5 !important;
		margin-top: 20px !important;
	}
	.in-krok-2 .summary-background {
		grid-row-start: 5;
		grid-row-end: 11;
		margin-top: 0 !important;
	}
	.in-krok-2 .consents-first {
		grid-row: 9;
	}
	.in-krok-2.ordering-process .next-step {
		grid-row: 10;
		margin-bottom: 20px;
	}
	.in-krok-2 .order-summary {
		padding-top: 40px;
	}
	.in-krok-2 .js-validator-msg {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.in-kosik #dkLabFavCartWrapper .products {
		grid-template-columns: repeat(2, 1fr);
	}
	.cart-header {
		position: relative !important;
	}
	.cart-header .step {
		display: none !important;
	}
	.cart-header .step.active {
		width: 100%;
		display: block !important;
	}
	.ordering-process .cart-header .step span::after {
		display: none;
	}
	ol.cart-header li {
		padding: 0 20px 20px;
	}
	.ordering-process .top-navigation-tools {
		padding-right: 30px !important;
	}
	.ordering-process #header .responsive-tools .toggle-window[data-target="navigation"] {
		top: 4px;
		right: 14px;
	}
	.sidebar-in-cart .next-step.next-step--cart > a:first-child {
		flex: 0;
		text-align: left;
		padding-right: 10px;
	}
	.ordering-process .cart-table tr {
		display: flex;
		position: relative;
		background: var(--color-gray-200);
		border-radius: calc(var(--border-radius) * 2);
		border-style: none;
		margin-bottom: calc(var(--gap) * 1.5);
		row-gap: 10px;
	}
	/**/
	.cart-table tr > td:nth-child(even).p-name {
		padding: 1px 0 0 10px;
		margin-bottom: auto;
		background: none;
		flex: 1;
		flex-basis: 83%;
	}
	/**/
	.ordering-process .cart-table td.p-name a {
		color: var(--color-black-800);
		font-weight: 600;
		display: block;
		width: 80%;
	}
	/*upravit*/
	.ordering-process .cart-table td.cart-p-image {
		flex-basis: 17%;
		margin: 0;
		padding: 0;
		padding-left: 2%;
	}
	/**/
	.ordering-process .p-availability.p-cell {
		display: none;
	}
	/**/
	.ordering-process .quantity {
		width: 100% !important;
		justify-content: space-between;
		height: 30px !important;
		border-color: #dddddd;
		padding: 0 !important;
	}
	/**/
	.ordering-process .p-quantity.p-cell {
		grid-column: 1;
		margin: 5px;
		padding: 0;
		display: flex;
		flex-basis: 18%;
		flex-grow: 0;
	}
	.ordering-process .p-quantity.p-cell,
	.ordering-process .p-quantity.p-cell form {
		background: transparent;
	}
	.ordering-process .p-quantity.p-cell > div {
		flex: 1;
	}
	/**/
	.ordering-process .quantity .increase,
	.ordering-process .quantity .decrease {
		height: 100% !important;
		padding: 0 12px;
		background: var(--color-gray-400);
		color: var(--color-black-800);
		margin: auto;
		width: 18px !important;
	}
	.ordering-process .quantity-form .quantity .decrease:before,
	.ordering-process .quantity-form .quantity .increase:before {
		line-height: 1;
	}
	.ordering-process .quantity .decrease {
		opacity: 0.85;
	}
	/**/
	.ordering-process .quantity .increase::before,
	.ordering-process .quantity .decrease::before {
		height: auto;
	}
	/**/
	.ordering-process .quantity .increase::before {
		left: -6px;
	}
	.ordering-process .quantity .decrease::before {
		left: -3px;
	}
	/**/
	.ordering-process .p-price {
		display: flex;
		margin-left: 0;
		padding: 0;
		padding-left: 20px;
		background: none;
		min-width: auto;
		width: auto;
	}

	.ordering-process .p-price strong,
	.ordering-process .p-price span {
		font-weight: 400;
	}
	.ordering-process .p-price .p-label {
		display: none;
	}
	/**/
	.ordering-process .cart-table tr > td.p-total {
		text-align: right;
		position: initial;
		background: none;
	}
	/**/
	.ordering-process .p-total form {
		top: 14px;
		right: 15px;
		transform: none;
	}
	.ordering-process .remove-item::before {
		color: var(--color-black-200);
		font-size: 10px;
	}
	.ordering-process .cart-table td.cart-p-image::after {
		border-radius: 0;
		background-color: hsla(203, 7%, 47%, 0.05);
	}
	.cart-table .p-quantity .quantity input {
		background: white;
		width: 40px;
		font-size: 14px;
	}
	.ordering-process .cart-inner tr .p-discount.p-cell {
		background: none;
		width: auto;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		gap: 5px;
		order: 10;
		width: 100%;
		padding: 0 25px 0 0;
		margin-top: -15px;
		color: var(--color-gray-600);
	}
	.ordering-process .show-tooltip.acronym[data-original-title] {
		padding: 0;
		border-style: none;
		text-decoration: underline;
	}
}

/*zpřehlednění plateb a doprav na mobilu*/
@media (max-width: 500px) {
	.in-krok-1.ordering-process .co-payment-method label,
	.in-krok-1.ordering-process .co-delivery-method label {
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: 1fr 1fr;
	}
	.in-krok-1.ordering-process .co-payment-method label .payment-info,
	.in-krok-1.ordering-process .co-delivery-method label .payment-info {
		grid-row: 1/3;
	}
	.in-krok-1.ordering-process .co-payment-method label .payment-logo,
	.in-krok-1.ordering-process .co-delivery-method label .payment-logo {
		grid-row: 1;
	}
	.in-krok-1.ordering-process .co-payment-method label .payment-shipping-price,
	.in-krok-1.ordering-process .co-delivery-method label .payment-shipping-price {
		grid-row: 2;
	}
}

/*uprava rozlozeni - odstraneni menu a zbytečných kontaktů*/
.ordering-process .kosik-zpet {
	display: none;
}
.ordering-process .co-basic-information {
	padding: 0 !important;
	margin: 20px 0 !important;
}
.ordering-process h4.order-information {
	display: none !important;
}
.ordering-process .sidebar-in-cart .checkout-box-wrapper,
.ordering-process .order-summary-inner .checkout-box,
.ordering-process .order-summary .checkout-box,
.ordering-process .co-basic-information .checkout-box {
	display: none;
}
.ordering-process .co-basic-information .row {
	width: 100%;
	display: flex;
	border-radius: var(--border-radius);
	padding: calc(var(--gap) * 2) 0 0 0;
	gap: calc(var(--gap) * 2);
}
.ordering-process .co-basic-information .row > div > div {
	display: flex;
	align-items: center;
}
.ordering-process .co-basic-information .row label {
	width: max-content;
	margin-bottom: 0;
}
.ordering-process .co-basic-information .row select {
	flex: 1;
	width: 100%;
	height: 50px;
	margin-left: var(--gap);
	border-radius: var(--border-radius);
	min-width: auto !important;
	font-size: 1em;
}
.ordering-process #header .header-top .dropdown {
	display: none;
}
@media (max-width: 420px) {
	.ordering-process .co-basic-information .row {
		font-size: 1.4rem;
	}
}
@media (max-width: 767px) {
	.ordering-process #header .header-top .site-name-wrapper {
		width: clamp(145px + 57px, 6.6vw + 94.4px + 57px, 221px + 57px);
	}

	.ordering-process .site-name.addedBackButton {
		display: flex !important;
		color: white;
		align-items: center;
		gap: 20px;
	}
	.ordering-process .kosik-zpet {
		display: block;
	}
	.ordering-process .kosik-zpet::before {
		content: "\e90f";
		font-family: shoptet;
		font-size: 0.55em;
		margin-right: 0.25em;
	}
	.ordering-process .kosik-zpet::after {
		content: "Zpět";
	}
	.sk.ordering-process .kosik-zpet::after {
		content: "Späť";
	}
	.ordering-process .kosik-zpet {
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: 0.2s opacity;
	}
	.ordering-process .kosik-zpet:hover {
		opacity: 0.7;
	}
	.ordering-process .next-step-back {
		display: none;
	}
	.ordering-process .sidebar-in-cart .next-step.next-step--cart {
		justify-content: flex-end;
	}
	.ordering-process .co-basic-information .row {
		flex-direction: column;
		background: var(--color-gray-200);
		padding: calc(var(--gap) * 2);
	}
}
@media (max-width: 1000px) {
	.ordering-process.in-krok-2 .order-recapitulation {
		margin-top: calc(20px + var(--gap) * 3) !important;
	}
	.ordering-process.in-krok-2 .summary-background {
		margin-top: calc(20px + var(--gap) * 3) !important;
	}
}
@media (min-width: 768px) {
	.ordering-process .co-basic-information {
		margin-bottom: 0 !important;
	}
	.ordering-process .co-basic-information .col-sm-6 {
		padding: 0 0 0 var(--gap);
	}
	.ordering-process .order-delivery-payment-form {
		border-top-style: none !important;
		margin-top: 0 !important;
	}

	.ordering-process .top-navigation-contacts {
		gap: calc(var(--gap) / 2);
	}
	.ordering-process .top-navigation-contacts .project-email:hover {
		opacity: 0.7;
	}
	.ordering-process .top-navigation-contacts .project-phone {
		font-weight: 400 !important;
	}
	.ordering-process .top-navigation-contacts strong {
		display: none !important;
	}
	.ordering-process .top-navigation-contacts a {
		display: flex !important;
		color: white;
	}
	.ordering-process .top-navigation-contacts a::before {
		position: relative !important;
		width: 25px !important;
	}
	.ordering-process .buy-helper {
		order: 4 !important;
	}
	.ordering-process #navigation,
	.ordering-process .menu-helper {
		display: none;
	}
	.ordering-process .buy-helper .text {
		display: flex !important;
		margin-left: calc(var(--gap) / 1.5) !important;
		font-size: 16px !important;
	}
	body.admin-logged.ordering-process {
		padding-top: calc(var(--header-height) + 50px);
	}
	body.ordering-process {
		padding-top: calc(var(--header-height) + 10px);
	}
}

/*platby fotky které jsou natvrdo*/
.cs .name-billingId-126 .payment-logo img,
.cs .name-billingId-156 .payment-logo img,
.cs .name-billingId-129 .payment-logo img,
.cs .name-billingId-144 .payment-logo img,
.sk .name-billingId-98 .payment-logo img,
.sk .name-billingId-116 .payment-logo img,
.sk .name-billingId-101 .payment-logo img,
.sk .name-billingId-110 .payment-logo img {
	display: none;
}
.cs .name-billingId-126 .payment-logo::before,
.cs .name-billingId-156 .payment-logo::before,
.cs .name-billingId-129 .payment-logo::before,
.cs .name-billingId-144 .payment-logo::before,
.sk .name-billingId-98 .payment-logo::before,
.sk .name-billingId-116 .payment-logo::before,
.sk .name-billingId-101 .payment-logo::before,
.sk .name-billingId-110 .payment-logo::before {
	width: 100%;
	height: 100%;
	display: block;
}
.cs .name-billingId-126 .payment-logo::before,
.sk .name-billingId-98 .payment-logo::before {
	content: url("https://www.natima.cz/user/documents/upload/Doprava a platba/Loga doprava_Platba_kartou.svg");
}
.cs .name-billingId-156 .payment-logo::before,
.sk .name-billingId-116 .payment-logo::before {
	content: url("https://www.natima.cz/user/documents/upload/Doprava a platba/Loga doprava_Rychlý_převod.svg");
}
.cs .name-billingId-129 .payment-logo::before,
.sk .name-billingId-101 .payment-logo::before {
	content: url("https://www.natima.cz/user/documents/upload/Doprava a platba/Loga doprava_Apple_pay.svg");
}
.cs .name-billingId-144 .payment-logo::before,
.sk .name-billingId-110 .payment-logo::before {
	content: url("https://www.natima.cz/user/documents/upload/Doprava a platba/Loga doprava_Google_pay.svg");
}

/*-------------------------------------------------------------custom slevovy kupon*/
.free-gift-added .messages {
	display: none !important;
}

#removeGift {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	cursor: pointer;
	padding: 7px 10px;
	color: white;
	background: var(--color-primary);
	border-radius: var(--border-radius);
	transition: background 0.2s ease-out;
}
#removeGift:hover {
	background: var(--color-primary-hover);
}
/*-------------------------------------------------------KONEC custom slevovy kupon*/

/*-----------------------------------------------------------------------------Selekce státu*/
.in-krok-1.ordering-process .co-basic-information .row {
	background: none !important;
	padding: 0 !important;
}
.in-krok-1.ordering-process .co-basic-information {
	margin-bottom: 0 !important;
}
@media (min-width: 768px) {
	/*pouze cz protoze na slovensku neni mozne zvolit jiny stat*/
	.cs.in-krok-1.ordering-process .co-basic-information {
		padding-top: var(--gap) !important;
	}
}

.in-krok-1 .cart-content form.order-delivery-payment-form {
	border-top-style: none;
	padding-top: var(--gap) !important;
}
.in-krok-1.ordering-process .co-basic-information .col-sm-12 {
	padding: 0;
}

.in-krok-1.ordering-process .co-basic-information .row > div > div {
	width: max-content;
	margin-left: auto;
	justify-content: flex-end;
	min-width: 0;
}
.in-krok-1.ordering-process .co-basic-information .row > div > div > label {
	display: none;
}
.in-krok-1.ordering-process .co-basic-information .row > div > div > #deliveryCountryId {
	width: auto;
	flex: 0;
	padding: 10px 30px 10px 35px;
	margin: 0 !important;
	border-style: none;
	background-image: none;
	height: auto;
	position: relative;
	cursor: pointer;
}
.in-krok-1.ordering-process .co-basic-information .row > div > div::after {
	display: block;
	content: "\e910";
	font-size: 10px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	font-family: shoptet;
	transform: rotate(90deg);
	pointer-events: none;
}
.in-krok-1.ordering-process .co-basic-information .row > div > div::before {
	display: block;
	content: "";
	background-repeat: no-repeat;
	pointer-events: none;
	width: 16px;
	height: 12px;
	position: absolute;
	left: 10px;
	top: 47%;
	transform: translatey(-50%);
	z-index: 1;
}
.cs.in-krok-1.ordering-process .co-basic-information .row > div > div:has(option[value="43"]:checked)::before {
	background-image: url("https://www.natima.cz/user/documents/upload/flag_cz.svg");
}
.cs.in-krok-1.ordering-process .co-basic-information .row > div > div:has(option[value="151"]:checked)::before {
	background-image: url("https://www.natima.cz/user/documents/upload/flag_sk.svg");
}
.hiddenCartOptions #order-form,
.hiddenCartOptions #checkoutSidebar {
	display: none;
}
.also-deliver-country {
	background: var(--color-red-400);
	font-size: 18px;
	color: white;
	padding: 2em 1em;
	border-radius: var(--border-radius);
	position: relative;
}
.also-deliver-country p {
	margin: 0;
	position: relative;
	padding-left: 1.75em;
}
.also-deliver-country p::before {
	content: "i";
	width: 1em;
	text-align: center;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
}
.also-deliver-country p::after {
	content: "";
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	margin-bottom: 5px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-10%, 2%);
}

.also-deliver-country a {
	font-weight: 600;
	color: white;
	text-decoration: underline;
}
/*-----------------------------------------------------------------------------Konec Selekce státu*/

/*-----------------------------------------------------------------------Objednavka telefonni cislo pouze s danou předvolbou*/
#checkoutContent .phone-combined-input {
	position: relative;
}
#checkoutContent .country-flags {
	cursor: help;
	border-style: none !important;
	box-shadow: none !important;
	position: initial;
}
#checkoutContent .country-flags::before {
	content: "Při doručování zásilky dopravci vyžadují telefonní číslo s českou předvolbou.";
	position: absolute;
	top: -5px;
	left: 0;
	transform: translatey(-100%);
	background: var(--color-red-400);
	color: white;
	border-radius: var(--border-radius);
	padding: 0.5em 1em;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}
.sk #checkoutContent .country-flags::before {
	content: "Pri doručovaní zásielky dopravcovia vyžadujú telefónne číslo so slovenskou predvoľbou.";
}
#checkoutContent .country-flags:hover::before {
	opacity: 1;
}
#checkoutContent .country-flags-inner {
	pointer-events: none !important;
}
#checkoutContent .shp-flag-label::before {
	display: none;
}
#checkoutContent .shp-flag-label {
	padding-left: 8px;
}
/*----------------------------------------------------------------------- KONEC Objednavka telefonni cislo pouze s danou předvolbou*/
