body.ordering-process {
	background-color: transparent;
}

body.ordering-process .content.wide {
	max-width: none;
}

/*universal*/
.ordering-process .cart-content {
	padding: 0;
	margin-top: 20px;
}

.ordering-process ol.cart-header {
	text-align: center;
	margin: 0;
	border-color: var(--color-gray-500);
}

.ordering-process ol.cart-header li {
	padding-bottom: 10px;
}

.ordering-process ol.cart-header li strong,
.ordering-process ol.cart-header li a {
	border-style: none;
}

ol.cart-header li a span,
ol.cart-header li strong span {
	color: var(--color-gray-700);
	display: flex;
	align-items: center;
	text-transform: none;
}
ol.cart-header li a span::before,
ol.cart-header li strong span::before {
	border-radius: var(--border-radius);
	border-color: var(--color-gray-600);
	border-width: 1px;

	width: 42px;
	height: 46px;
	font-size: 16px;
	margin-right: 1.2em;
	display: grid;
	align-items: center;
}
ol.cart-header li.active a span,
ol.cart-header li.active strong span {
	font-weight: 600;
}

ol.cart-header li.active a span,
ol.cart-header li.active strong span,
ol.cart-header li:hover a span,
ol.cart-header li:hover strong span {
	color: var(--color-primary);
}
ol.cart-header li.active a span::before,
ol.cart-header li.active strong span::before {
	border-color: transparent;
	background: var(--color-primary-100);
}
