@media (max-width: 1020px) {
	:root {
		--luigiWidth: clamp(80%, 30% + 260px, 100%);
	}
	html body .luigi-ac-heromobile-input-wrap {
		width: var(--luigiWidth);
		top: 20px;
		left: auto;
		right: 0;
	}
	html body .luigi-ac-open {
		width: var(--luigiWidth);
		left: auto !important;
		right: 0 !important;
		top: var(--header-height) !important;
		color: var(--color-black-800);
	}
	html body .luigi-ac.luigi-ac-heromobile.luigi-ac-open:before {
		background: hsla(0, 0%, 0%, 30%);
	}
	html body .luigi-ac-heromobile .luigi-ac-heromobile-input-bg {
		left: auto;
	}
	html body .luigi-ac-heromobile .luigi-ac-close {
		left: calc(100% - var(--luigiWidth) + 17px);
		top: 25px;
	}
	html body .luigi-ac-heromobile-input-wrap .luigi-ac-heromobile-input-clear {
		top: 6px;
		background-color: var(--color-gray-500);
	}
	html body .luigi-ac-first-main a {
		margin-top: 0 !important;
	}
	html body .luigi-ac-first-main::before {
		content: "TOP Produkt";
		position: relative;
		width: 100%;
		font-weight: 600;
		font-size: 18px;
		padding: 0.7em 0 0.35em 1em;
		background: white;
	}
	html body .luigi-ac-image .flag {
		display: none;
	}
	html body .luigi-ac-heromobile-input-wrap input {
		border-radius: var(--border-radius);
		background: var(--color-gray-500);
		box-shadow: none;
	}
}

@media (min-width: 1020px) {
}
