@media (max-width: 1020px) {
	:root {
		--luigiWidth: clamp(50%, 30% + 260px, 85%);
	}
	html body .luigi-ac-heromobile-input-wrap {
		width: var(--luigiWidth);
		top: 20px;
		left: auto;
		right: 0;
	}
	html body .luigi-ac-open {
		width: var(--luigiWidth);
		left: auto !important;
		right: 0 !important;
		padding-top: 61px;
		color: var(--color-black-800);
	}
	html body .luigi-ac > div {
		background: white;
	}

	html body .luigi-ac.luigi-ac-heromobile.luigi-ac-open:before {
		background: hsla(0, 0%, 0%, 30%);
	}
	html body .luigi-ac-heromobile .luigi-ac-heromobile-input-bg {
		left: auto;
	}
	html body .luigi-ac-heromobile .luigi-ac-close {
		left: calc(100% - var(--luigiWidth) + 17px);
		top: 25px;
	}
	html body .luigi-ac-heromobile-input-wrap .luigi-ac-heromobile-input-clear {
		top: 6px;
		background-color: var(--color-gray-500);
	}
	html body .luigi-ac-first-main a {
		margin-top: 0 !important;
	}
	html body .luigi-ac-result[data-type="product"] .luigi-ac-first-main::before {
		content: "TOP Produkt";
		position: relative;
		width: 100%;
		font-weight: 600;
		font-size: 18px;
		padding: 0.9em 0 0.35em 15px;
		background: white;
	}
	html body .luigi-ac-result[data-type="product"] .luigi-ac-rest-main::before {
		content: "Další produkty";
		position: relative;
		width: 100%;
		font-weight: 600;
		font-size: 18px;
		padding: 0.9em 0 0.35em 15px;
		background: white;
	}
	html body .luigi-ac-image .flag {
		display: none;
	}
	html body .luigi-ac-heromobile-input-wrap input {
		border-radius: var(--border-radius);
		background: var(--color-gray-500);
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	html body .luigi-ac-heromobile .luigi-ac-inner {
		padding-top: 0;
	}
	html body .luigi-ac-heromobile .luigi-ac-heromobile-switches {
		text-align: left;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-left: 15px;
	}
	html
		body
		.luigi-ac-heromobile
		.luigi-ac-heromobile-switches
		.luigi-ac-heromobile-switches-inner
		.luigi-ac-heromobile-switch {
		color: var(--color-primary) !important;
		border-color: var(--color-primary) !important;
		font-weight: 400;
		padding: 16px 10px 5px 10px !important;
	}
	html
		body
		.luigi-ac-heromobile
		.luigi-ac-heromobile-switches
		.luigi-ac-heromobile-switches-inner
		.luigi-ac-heromobile-switch.luigi-ac-heromobile-switch--active {
		font-weight: 600;
	}
	html body .luigi-ac-rest-main a {
		margin-top: 0 !important;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-500);
	}
	html body .luigi-ac-active,
	.luigi-ac-item:focus,
	.luigi-ac-item:hover {
		background: var(--color-primary-100) !important;
	}
	html body .luigi-ac-heromobile .luigi-ac-result .luigi-ac-inner .luigi-ac-item .luigi-ac-description .luigi-ac-name {
		font-weight: 500;
		color: var(--color-primary) !important;
	}
	html body .luigi-ac-main .luigi-ac__highlighted em {
		color: white !important;
		background: var(--color-primary) !important;
	}
	html body .luigi-ac-heromobile .luigi-ac-result .luigi-ac-inner .luigi-ac-item .luigi-ac-image {
		width: 80px !important;
		height: 80px !important;
		max-height: 80px !important;
		justify-content: center;
	}
	html body .luigi-ac-heromobile .luigi-ac-result .luigi-ac-inner .luigi-ac-item .luigi-ac-image::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		background-color: hsla(203, 7%, 47%, 0.06);
		border-radius: var(--border-radius);
	}

	html body .luigi-ac-heromobile .luigi-ac-result .luigi-ac-inner .luigi-ac-item .luigi-ac-image img {
		align-self: center;
	}
	html body .luigi-ac-heromobile .luigi-ac-action-heromobile img {
		display: none;
	}
	html body .luigi-ac-heromobile .luigi-ac-action-heromobile {
		border-radius: var(--border-radius);
		background: var(--color-primary);
		transition: background 0.2s ease;
		height: 28px;
		width: 28px;
		bottom: 0;
		right: 0 !important;
	}

	html body .luigi-ac-heromobile .luigi-ac-action-heromobile:hover,
	html body .luigi-ac-heromobile .luigi-ac-action-heromobile:focus {
		background: var(--color-primary-hover);
	}
	html body .luigi-ac-heromobile .luigi-ac-action-heromobile::after {
		content: "";
		background-image: url(https://595805.myshoptet.com/user/documents/upload/addToCartIcon.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 60%;
		height: 100%;
		position: absolute;
		left: 47%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	html body .luigi-ac-heromobile .luigi-ac-description {
		justify-content: space-between;
	}

	html body .luigi-ac-others .luigi-ac-name,
	html body .luigi-ac-rest-main .luigi-ac-name {
		white-space: break-spaces;
	}
	html body .luigi-ac-price {
		height: 28px;
		align-items: flex-end;
	}
	html body .luigi-ac-price-new,
	html body .luigi-ac-price-old {
		line-height: 1 !important;
	}
	html body .luigi-ac-heromobile .luigi-ac-result .luigi-ac-inner .luigi-ac-item .luigi-ac-description {
		position: relative;
	}
}

@media (min-width: 1020px) {
}
