#pobo-all-content #pobo-standard-widget .widget-typography h3 {
	margin-top: 0;
	margin-bottom: 0.6em;
	font-family: var(--ff-main) !important;
	font-weight: 700 !important;
}
.pb-standard-table tr > td {
	width: 20%;
}
.pb-standard-table tr > td:first-child {
	width: 50%;
}
.pb-standard-table td {
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-black-400);
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.pb-standard-table tbody > tr:nth-child(even) {
	background: #f9f9f9;
}
#pobo-standard-widget > div:nth-child(odd) .pb-standard-table tbody > tr:nth-child(odd) {
	background: #f6f6f6;
}
#pobo-standard-widget > div {
	border-radius: var(--border-radius);
	padding: 20px 30px;
}
#pobo-standard-widget > div:nth-child(odd) {
	background: #f6f6f6;
}
@media (max-width: 768px) {
	#pobo-standard-widget > div {
		padding: 10px;
	}
}
@media (min-width: 768px) {
	#pobo-standard-widget p {
		text-align: justify;
	}
}
