#pobo-all-content #pobo-standard-widget .widget-typography h3 {
	margin-top: 0;
	margin-bottom: 0.6em;
	font-family: var(--ff-main) !important;
	font-weight: 700 !important;
}
.pb-standard-table tr > td {
	width: 17% !important;
}
.pb-standard-table tr > td:first-child {
	width: 50% !important;
}
.pb-standard-table td {
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-black-400);
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.pb-standard-table tbody > tr:nth-child(even) {
	background: #f9f9f9;
}
.pb-standard-table tr > td ul {
	margin: 0;
	padding-left: 15px;
}

.pb-standard-table tr > td ul li {
	display: block;
}
#pobo-standard-widget > div:nth-child(odd) .pb-standard-table tbody > tr:nth-child(odd) {
	background: #f6f6f6;
}
#pobo-standard-widget > div {
	border-radius: var(--border-radius);
	padding: 20px 30px;
}
#pobo-standard-widget > div:nth-child(odd) {
	background: #f6f6f6;
}
@media (max-width: 768px) {
	#pobo-standard-widget > div {
		padding: 10px;
	}
}
@media (min-width: 768px) {
	#pobo-standard-widget p {
		text-align: justify;
	}
}

/*images*/
#pobo-standard-widget .rc-image-right__image a,
#pobo-standard-widget .rc-image-right__image img {
	pointer-events: none;
}
.rc-image-right .rc-image-right__image img {
	max-height: 350px;
	max-width: 90%;
	display: block;
	margin: auto;
}

@media (max-width: 768px) {
	#pobo-all-content .empty::-webkit-scrollbar {
		display: none;
	}

	#pobo-all-content .empty {
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
#pobo-all-content .widget-projector p {
	font-size: 16px !important;
	line-height: 23px !important;
	font-weight: 400 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #303233 !important;
}
