/*main page product sliders*/
.lSSlideOuter .lightSlider {
	height: auto !important;
}

.content-wrapper-in .content .lSSlideOuter .lSSlideWrapper .product {
	padding: 0;
	padding-right: 15px;
}

.content-wrapper-in .content .lSSlideOuter .lSSlideWrapper .product img {
	margin: 50px 0px 40px 0px;
}
