/*sede pozadi produktové fotky*/
/*sede pozadi produktové fotky*/
.products-block .image::after,
.p-image::after,
.p-thumbnails-wrapper a::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background-color: hsla(203, 7%, 47%, 0.06);
	border-radius: var(--border-radius);
}

.products-block .product .image img,
.p-image img {
	filter: brightness(1.02);
}

/*kod produktu*/
.products-page .p-code {
	display: none;
}

.products .product .p a.image {
	margin-bottom: 0;
}

/*oblibene*/
.dkLabFavouriteProductDiv {
	transition: transform 0.1s ease;
}
.dkLabFavouriteProductDiv:hover {
	transform: scale(1.05);
}

.dkLabFavProductSpan::before {
	color: var(--color-primary);
}

@media (max-width: 1200px) {
	/*vse v content wrapper kvuli priorite*/
	.content-wrapper .products .product .p .p-tools {
		width: 36px;
		right: 8px;
		top: calc(var(--marginProductInfo) * -1 - 8px);
	}
	.content-wrapper .products-block .product .p .p-tools button {
		opacity: 1;
		height: 36px !important;
		width: 100%;
		position: relative;
	}
	.content-wrapper .products-block .product .p .p-tools button::after {
		content: "";
		background-image: url(https://www.natima.cz/user/documents/upload/Natima/addToCartIcon.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 60%;
		height: 100%;
		position: absolute;
		left: 47%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.content-wrapper .products-block .product .p .p-tools button span {
		display: none;
	}
	.content-wrapper .products .product div.flags-extra {
		bottom: 8px;
		left: 8px;
		width: clamp(60px, 50%, 90px) !important;
		transform: none;
	}
	.content-wrapper .products .product div.flags-extra .flag.flag-discount {
		transform: none !important;
		width: 100%;
	}
}

/*Přepsání vlajky Akce na Akce měsíce*/
.flag.flag-action {
	font-size: 0px !important;
	max-width: none;
	margin-bottom: calc(12px * 0.3) !important;
}
.flag.flag-action::after {
	content: "Akce měsíce⚡";
	font-size: 12px;
}
.sk .flag.flag-action::after {
	content: "Akcia mesiaca⚡";
}
.pl .flag.flag-action::after {
	content: "Akcia mesiaca⚡";
}

#filters label[for="dd[]1"] {
	font-size: 0;
	display: flex;
}
#filters label[for="dd[]1"] span {
	padding: 0;
	margin: 0;
}
#filters label[for="dd[]1"] span::before {
	margin-right: calc(0.75em + 1ex);
	content: "Akce měsíce⚡" !important;
	font-size: 14px;
	font-weight: 400;
	position: initial;
	background-color: transparent;
	inset: 0;
	transform: none;
	height: auto;
	width: auto;
}
.sk #filters label[for="dd[]1"] span::before {
	content: "Akcie mesiaca⚡" !important;
}
.pl #filters label[for="dd[]1"] span::before {
	content: "Akcie mesiaca⚡" !important;
}
#filters label[for="dd[]1"].active span::before {
	font-weight: inherit;
}

/*Prepsani vlajky Akce na Letný výprodej v Luigi*/
.cs .lb-checkbox[data-color="Akce"] .lb-checkbox__text--original,
.sk .lb-checkbox[data-color="Akcia"] .lb-checkbox__text--original,
.pl .lb-checkbox[data-color="Akcia"] .lb-checkbox__text--original {
	font-size: 0;
}
.cs .lb-checkbox[data-color="Akce"] .lb-checkbox__text--original::before {
	content: "Akce měsíce ⚡" !important;
	font-size: 14px;
}
.sk .lb-checkbox[data-color="Akcia"] .lb-checkbox__text--original::before {
	content: "Akcie mesiaca ⚡" !important;
	font-size: 14px;
}
.pl .lb-checkbox[data-color="Akcia"] .lb-checkbox__text--original::before {
	content: "Akcie mesiaca ⚡" !important;
	font-size: 14px;
}

/*schovani příznaku akce pokud má akci měsíce
.flags:has(> .flag-akce-mesice) > .flag-action {
	display: none !important;
}
	*/
/*schovani filtru letni vyprodej v akci mesice*/
/*
.cs.in--akce-mesice label[for="dd[]1"],
.sk.in---akcie-mesiaca label[for="dd[]1"] {
	display: none !important;
}
*/
