:root {
	--slider-product-height: 150px;
}

.in-index .content {
	padding: 0;
	margin: 0px;
}
.in-index .products {
	display: flex;
	overflow: visible;
	flex-wrap: nowrap;
	transition: transform 0.3s linear;
	margin-left: -14px;
	margin-bottom: 50px;
	/*transform: translatex(calc(var(--translateXJS) * -1 / var(--SliderPocetProduktuCalc) * var(--SliderPocetProduktu)));
	--translateXJS: 0%;*/
	flex-grow: 4; /*pocet produktu pro JS*/
	flex-shrink: 0; /*overflow pro JS*/
	--SliderPocetProduktu: 4;
	--SliderCastProduktu: 0;
	--SliderPocetProduktuCalc: calc(var(--SliderPocetProduktu) + var(--SliderCastProduktu));
}

.in-index .products .product {
	width: calc(100% / (var(--SliderPocetProduktuCalc)));
	padding: 0px 0px 0px 14px !important;
	border-style: none !important;
	user-select: none;
}
.in-index .products .product a {
	user-select: none;
	-webkit-user-drag: none;
}
.in-index .products .product img {
	pointer-events: none;
}

.in-index .p-code {
	display: none;
}

.sliderWrap {
	position: relative;
}

.sliderWrap .slider {
	overflow: hidden;
}

.in-index .product-slider-arrow {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	background: #f6f6f6;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	top: var(--slider-product-height);
	transform: translateY(-50%);
	cursor: pointer;
	transition: background 0.2s ease;
	z-index: 9;
}
.in-index .product-slider-arrow::after {
	content: "\e910";
	font-family: "shoptet";
	height: 100%;
	font-weight: 600;
	display: grid;
	justify-content: center;
	align-content: center;
	color: var(--color-black-600);
	transition: color 0.2s ease;
}
.in-index .product-slider-arrow.left::after {
	transform: rotate(180deg);
}

.in-index .product-slider-arrow:hover {
	background: var(--color-black-600);
}
.in-index .product-slider-arrow:hover::after {
	color: white;
}
.in-index .product-slider-arrow.left {
	left: -30px;
}
.in-index .product-slider-arrow.right {
	right: -30px;
}
