h4.homepage-group-title,
.h4.homepage-group-title {
	margin-top: 25px !important;
}

.h4.homepage-products-heading-1 {
	margin-top: 20px !important;
}

.homepage-box {
	margin: 0;
	padding: 0;
}

.homepage-box.welcome-wrapper {
	margin: 25px 0px;
	padding: 0;
}

.in-index .slider-arrow {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	background: #f6f6f6;
	border-radius: 100%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	top: var(--slider-product-height);
	transform: translateY(-50%);
	cursor: pointer;
	transition: background 0.2s ease;
	z-index: 9;
}
.in-index .banners-row .col-sm-8 .slider-arrow {
	top: 50%;
}

.in-index .slider-arrow::after {
	content: "\e910";
	font-family: "shoptet";
	height: 100%;
	font-weight: 600;
	display: grid;
	justify-content: center;
	align-content: center;
	color: var(--color-black-600);
	transition: color 0.2s ease;
}
.in-index .slider-arrow.left::after {
	transform: rotate(180deg);
}

.in-index .slider-arrow:hover {
	background: var(--color-black-600);
}
.in-index .slider-arrow:hover::after {
	color: white;
}
.in-index .slider-arrow.left {
	left: -30px;
}
.in-index .slider-arrow.right {
	right: -30px;
}

@media (min-width: 992px) {
	.h4.homepage-products-heading-1 {
		margin-top: 50px !important;
	}
}

/*Hlavní stránka nadpisy kategorií*/
.in-index .homepage-group-title.h4,
.in-index .footer-banner .h4 {
	cursor: pointer;
	transition: color 0.2s ease;
	display: block;
}
.in-index .homepage-group-title.h4:hover,
.in-index .footer-banner .h4:hover {
	color: var(--color-primary);
}
.in-index .homepage-group-title.h4::after,
.in-index .footer-banner .h4::after {
	content: "\e910";
	font-family: "shoptet";
	position: relative;
	font-size: 0.5em;
	bottom: 3px;
	padding-left: 5px;
	transition: color 0.2s ease, padding 0.2s ease-out;
}
.in-index .homepage-group-title.h4:hover::after,
.in-index .footer-banner .h4:hover::after {
	color: var(--color-primary);
	padding-left: 12px;
}

/*Hlavní stránka BLOG*/
.homepage-blog-wrapper {
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	transition: transform 0.2s linear;
	margin-left: calc(var(--gap) / -1) !important;
	margin-bottom: 25px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	justify-content: flex-start;
}
.homepage-blog-wrapper .homepage-group-title {
	width: 100% !important;
}

.homepage-blog-wrapper > div {
	width: calc(100% / (var(--SliderPocetProduktuCalc))) !important;
	flex-basis: unset !important;
	flex-shrink: 0;
	padding: 0 0 0 var(--gap) !important;
	border-style: none !important;
	user-select: none;
}

.homepage-blog-wrapper img {
	border-radius: var(--border-radius);
}
.homepage-blog-wrapper .title {
	font-size: 14px !important;
	line-height: 1.3em !important;
	color: var(--color-black-800);
	font-weight: 500 !important;
	margin-top: var(--marginProductInfo) !important;
	margin-bottom: 0.2em !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 2.6em;
	overflow: hidden;
}
.homepage-blog-wrapper .description {
	margin-top: 0.5em !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	height: 7.2em;
	overflow: hidden;
}

.homepage-blog-wrapper > div .image {
	position: relative;
}
.cs .homepage-blog-wrapper > div .image::before {
	content: "Číst dále →";
}
.sk .homepage-blog-wrapper > div .image::before {
	content: "Čítať ďalej →";
}
.homepage-blog-wrapper > div .image::before {
	background: var(--color-primary);
	color: white;
	border-radius: var(--border-radius);
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	padding: 0.8em 5px;
	transition: background 0.2s;
	opacity: 0;
}
.homepage-blog-wrapper > div .image:hover::before {
	background: var(--color-primary-hover);
}
.homepage-blog-wrapper > div:hover .image::before {
	opacity: 1;
}

@media (max-width: 992px) {
	.homepage-blog-wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		margin-bottom: 20px;
		padding-bottom: 20px;
		margin-left: 0 !important;
		margin-right: -15px !important;
	}
	.homepage-blog-wrapper > div {
		width: clamp(160px, 140px + 12vw, 350px) !important;
		padding: 0 var(--gap) 0 0 !important;
	}
}

@media (min-width: 992px) {
	.homepage-blog-wrapper {
		--SliderPocetProduktuCalc: calc(var(--SliderPocetProduktu) + var(--SliderCastProduktu));
		flex-grow: 4;
		flex-shrink: 0;
		--SliderPocetProduktu: 4;
		--SliderCastProduktu: 0;
	}
}
@media (min-width: 1200px) {
	.homepage-blog-wrapper {
		flex-grow: 5;
		flex-shrink: 0;
		--SliderPocetProduktu: 5;
		--SliderCastProduktu: 0;
	}
}
@media (min-width: 1440px) {
	.homepage-blog-wrapper {
		flex-grow: 6;
		flex-shrink: 0;
		--SliderPocetProduktu: 6;
		--SliderCastProduktu: 0;
	}
}
@media (min-width: 1720px) {
	.homepage-blog-wrapper {
		flex-grow: 7;
		flex-shrink: 0;
		--SliderPocetProduktu: 7;
		--SliderCastProduktu: 0;
	}
}
