:root {
	--productDetailIconWidth: 25px;
	--productDetatilIconGap: 10px;
}

.type-product .products-related-header {
	position: relative;
	padding-top: 32px;
}
.p-detail-inner {
	display: grid;
}

.description-inner .basic-description > h3:first-child,
.description-inner .extended-description > h3,
.description-inner .extended-description > .detail-parameters,
.description-inner .p-image-wrapper,
.description-inner .p-info-wrapper > p,
.description-inner .p-info-wrapper > .social-buttons-wrapper,
.description-inner .p-short-description {
	display: none;
}

.description-inner {
	margin: 0;
	overflow: initial;
	padding: 0;
}

.description-inner .h1 {
	font-size: 22px;
	margin: 0;
	margin-top: 16px;
	margin-bottom: 24px;
	font-weight: 600;
}

.p-detail .p-detail-info {
	justify-content: space-between;
	margin-bottom: 14px;
}

.p-detail .flags {
	margin: 0;
}
.p-detail .flags .flag {
	margin: 0;
	margin-right: 6px;
}
.flag.flag-vip {
	display: none !important;
}
body.user-logged-in .flag.flag-vip {
	display: block !important;
}
.p-detail .p-detail-info > div + div::before {
	display: none;
}
.p-detail .p-detail-info > div {
	color: var(--color-black-800);
}
.p-detail .p-detail-info > div a {
	color: var(--color-primary);
}

.p-detail .price-measure {
	display: none;
}

.p-detail .p-final-price-wrapper {
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	margin-left: 2px;
	margin-bottom: 14px;
}

.p-detail .add-to-cart {
	display: flex;
	gap: var(--gap);
	margin-bottom: 20px;
}
.p-detail .add-to-cart .quantity {
	display: none;
}
.p-detail .add-to-cart button {
	background: var(--color-primary);
	border-radius: var(--border-radius);
	border-style: none;
	flex-grow: 1;
	padding: 10px 20px;
}
.p-detail .add-to-cart button::before {
	display: none;
}

.p-detail .add-to-cart button:hover {
	background: var(--color-primary-hover);
}

.type-product .availability-amount {
	font-size: 14px;
	margin-left: 5px;
}

.extended-description {
	position: sticky;
	top: 140px;
	background: var(--color-gray-400);
	background: #f6f6f6;
	border-radius: var(--border-radius);
	padding: 20px 20px;
}

.description-inner .p-info-wrapper {
	width: 100%;
}

#product-detail-form .breadcrumbs {
	display: flex;
}

.p-detail .breadcrumbs > *:first-child,
.p-detail .breadcrumbs > *:last-child,
.p-detail .breadcrumbs::before,
.p-detail .breadcrumbs > *:nth-last-child(2) a::before,
.p-detail .breadcrumbs > *:nth-last-child(2) a::after {
	display: none;
}
.p-detail .breadcrumbs {
	background-color: transparent;
	border-style: none;
}

.p-detail .breadcrumbs a {
	color: var(--color-black-800);
	padding: 0;
	padding-right: 20px;
	min-height: auto;
	font-size: 12px;
}

.p-detail .breadcrumbs a::before,
.p-detail .breadcrumbs a::after {
	height: 30%;
	right: 10px;
	background-color: var(--color-black-800);
}
.p-detail .breadcrumbs a::before {
	top: 24%;
}
.p-detail .breadcrumbs a::after {
	bottom: 24%;
}

.p-detail .availability-label {
	color: var(--color-black-600) !important;
	font-size: 14px;
}

.p-detail .availability-value {
	display: flex;
	margin: 0;
	padding-bottom: var(--productDetatilIconGap);
}

.p-detail .availability-value::before {
	content: "";
	width: calc(var(--productDetailIconWidth) / 2);
	height: calc(var(--productDetailIconWidth) / 2);
	margin: auto;
	margin-left: calc(var(--productDetailIconWidth) / (2 * 2));
	margin-right: calc(var(--productDetailIconWidth) / (2 * 2) + 5px);
	display: block;
	background: rgb(53, 166, 64);
	border-radius: 50%;
}
.p-detail .availability-value.red::before {
	background: rgb(215, 34, 34);
}

.p-detail .detail-parameters {
	margin: 0;
}

.p-detail .detail-parameters th {
	display: grid;
	grid-template-columns: max-content max-content;
}

.p-detail .detail-parameters span {
	margin: 0;
	color: var(--color-black-800);
}
.p-detail .detail-parameters .delivery-time-label {
	display: flex;
	margin-right: 6px;
	padding-bottom: var(--productDetatilIconGap);
}
.p-detail .detail-parameters .delivery-time-label::before {
	content: "";
	width: calc(var(--productDetailIconWidth) / 1.5);
	height: calc(var(--productDetailIconWidth) / 1.5);
	margin: auto;
	margin-left: calc(var(--productDetailIconWidth) / 6);
	margin-right: calc(var(--productDetailIconWidth) / 6 + 5px);
	display: block;
	background-image: url(https://www.natima.cz/user/documents/upload/Natima/time_icon.svg);
}

.p-detail .detail-parameters .delivery-time {
	padding: 0;
}

.p-detail .detail-parameters a {
	width: auto;
	display: flex;
	color: var(--color-black-800);
}
.p-detail .extended-description .detail-parameters a::before {
	content: "";
	width: calc(var(--productDetailIconWidth) / 1.2);
	height: calc(var(--productDetailIconWidth) / 1.2);
	margin: auto;
	margin-left: calc(var(--productDetailIconWidth) / 11);
	margin-right: calc(var(--productDetailIconWidth) / 11 + 5px);
	display: block;
	background-image: url(https://www.natima.cz/user/documents/upload/Natima/delivery_icon.svg);
}
.p-detail .extended-description .detail-parameters a::after {
	content: "\e90e";
	font-family: shoptet;
	position: relative;
	top: 20%;
	font-size: 10px;
	margin-left: 5px;
	display: block;
}

/*detailní parametry*/
.basic-description .detail-parameters {
	border-top-style: solid;
	border-width: 1px;
	border-color: var(--color-black-800);
	padding-top: 45px !important;
	border-collapse: initial;
	position: relative;
	min-width: 190px;
}

.basic-description .detail-parameters::before {
	content: "Detailní parametry:";
	position: absolute;
	top: 0.2em;
	left: 0;
	font-size: 18px;
	font-weight: 800;
}
.basic-description .detail-parameters span,
.basic-description .detail-parameters td {
	font-size: 16px;
	font-weight: 400;
}
.basic-description .detail-parameters span {
	font-weight: 700;
}

.p-detail .p-code {
	color: var(--color-black-400);
	display: block;
	text-align: right;
	font-size: 12px;
}
#product-detail-form .p-code {
	display: flex;
	justify-content: flex-end;
}

#product-detail-form .p-code-label {
	display: block;
	margin-right: 4px;
}

@media (max-width: 1320px) {
	.extended-description {
		display: none;
	}
	.type-product .basic-description {
		overflow-x: hidden;
	}
}
@media (min-width: 1320px) {
	.description-inner {
		flex-wrap: nowrap;
	}
	.basic-description {
		flex: 1 1 auto;
		width: auto;
	}
	.extended-description {
		flex: 1 0 auto;
		width: clamp(300px, 33%, 420px);
	}
}

.type-product #dkLabFavouriteDiv {
	margin: 0;
	height: 56px;
}
.type-product .dkLabFavDetailSpan span {
	display: none !important;
}
.p-detail .extended-description .stars-label {
	display: none;
}

.type-product .col-sm-12 {
	padding: 0 !important;
}

.type-product #dkLabFavouriteDiv .dkLabFavDetailSpan {
	border-radius: var(--border-radius);
	background: var(--color-black-600);
	transition: 0.2s ease;
	display: flex;
	height: 100%;
	position: relative;
}
.type-product #dkLabFavouriteDiv .dkLabFavDetailSpan:hover {
	color: white;
}
.type-product #dkLabFavouriteDiv .dkLabFavDetailSpan::before {
	transition: 0.2s ease;
}
.type-product #dkLabFavouriteDiv .dkLabFavDetailSpan:hover::before {
	transform: scale(1.2) translatey(5%);
}

.type-product #dkLabFavouriteDiv .dkLabFavDetailSpan::before {
	top: 35%;
	margin: 0 18px;
	height: auto;
}

.type-product .dkLabFavouriteDetailLinkRemove {
	background: none !important;
	border-style: solid;
	border-width: 2px;
	border-color: var(--color-primary);
}
.type-product .dkLabFavouriteDetailLinkRemove:hover::before {
	color: var(--color-primary);
}
.type-product .dkLabFavDetailSpan::after {
	transform: translatex(50%) translatey(100%);
	transition: transform 0.2s ease-out;
	content: "";
	width: 140px;
	font-size: 12px;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	right: 50%;
	color: white;
	text-align: center;
}
.type-product .dkLabFavouriteDetailLinkAdd:hover::after {
	content: "Přidat do oblíbených";
	background: var(--color-black-600);
	border-radius: var(--border-radius);
	transform: translatex(50%) translatey(120%);
}
.type-product .dkLabFavouriteDetailLinkRemove:hover::after {
	content: "Odebrat z oblíbených";
	background: var(--color-black-600);
	border-radius: var(--border-radius);
	transform: translatex(50%) translatey(120%);
}

@media (max-width: 1100px) {
	.type-product .dkLabFavDetailSpan::after {
		transform: translatex(0%) translatey(100%);
		right: 0;
	}

	.type-product .dkLabFavouriteDetailLinkAdd:hover::after {
		transform: translatex(0%) translatey(120%);
	}
	.type-product .dkLabFavouriteDetailLinkRemove:hover::after {
		transform: translatex(0%) translatey(120%);
	}
}
.p-detail .stars-wrapper {
	justify-content: flex-end;
	max-width: 60%;
	flex-wrap: wrap;
}
.type-product .stars-label {
	color: var(--color-black-600);
	font-size: 14px;
	margin-left: 4px;
}

.type-product .stars .star {
	color: #f0b820;
}

.type-product .product-top .flag-discount {
	font-size: 16px;
}
.type-product .p-final-price-wrapper .price-additional,
.type-product .p-final-price-wrapper .price-standard,
.type-product .p-final-price-wrapper .price-save {
	display: none;
}
.type-product .extended-description .product-top .p-info-wrapper {
	padding: 0;
}

#product-detail-form > .row {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr min(50%, 860px);
	margin-top: calc(var(--gap) * 2);
}

/*top detailu*/
#product-detail-form > .row .p-image-wrapper .p-image {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}
.p-thumbnails a {
	margin-right: var(--gap);
}
.p-thumbnails a img {
	border: none;
}
.p-thumbnails-horizontal .p-thumbnail::before,
.p-thumbnails-horizontal .show360image::before {
	top: 0px;
}
#product-detail-form > .row .p-image-wrapper .p-main-image img {
	margin: 50px 0;
	max-width: 612px;
	width: 100%;
}
#product-detail-form > .row .p-image-wrapper {
	padding: 0;
	width: 100%;
	padding-right: calc(var(--gap) * 2);
}

#product-detail-form > .row .p-info-wrapper {
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#product-detail-form .availability-label {
	font-weight: 600;
}
#product-detail-form .breadcrumbs {
	order: 1;
}
#product-detail-form .p-detail-inner-header {
	order: 2;
}
#product-detail-form .col-xs-12 > .col-xs-12 {
	order: 3;
}
#product-detail-form .availability-value {
	order: 4;
}
#product-detail-form .detail-parameters {
	order: 5;
}
#product-detail-form .p-final-price-wrapper {
	order: 6;
}
#product-detail-form .add-to-cart {
	order: 7;
}
#product-detail-form .p-short-description {
	order: 8;
}
#product-detail-form .p-info-wrapper > p {
	order: 9;
}
#product-detail-form .social-buttons-wrapper {
	order: 10;
}

#product-detail-form .p-code {
	color: var(--color-black-800);
	font-size: 12px;
}
#product-detail-form .col-xs-12 > .col-xs-12 {
	padding-left: 5px;
	padding-right: 0;
}

#product-detail-form .p-detail-info > div:last-child {
	font-size: 12px;
}
#product-detail-form .p-final-price-wrapper {
	margin-top: var(--gap);
	margin-bottom: calc(var(--gap) * 2);
}
#product-detail-form .p-final-price-wrapper::after {
	width: 100px;
}

#product-detail-form .price-final {
	margin: auto;
	margin-left: 0;
}
#product-detail-form .add-to-cart {
	height: 56px;
	justify-content: flex-start;
	gap: var(--gap);
}
#product-detail-form .add-to-cart button {
	width: 50%;
	max-width: 300px;
	border-radius: var(--border-radius);
	height: 56px;
}

#product-detail-form .quantity {
	display: inline-block;
	height: 100%;
	border-radius: var(--border-radius);
	border-color: var(--color-black-800);
	border-style: solid;
	padding: 0;
	overflow: hidden;
	height: 56px;
}

#product-detail-form .quantity input {
	/* width: 96px; */
	width: 76px;
	height: 100%;
	text-align: center;
	color: var(--color-black-800);
	font-weight: 400;
}

#product-detail-form .quantity .increase,
#product-detail-form .quantity .decrease {
	height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border-style: none;
	color: var(--color-black-800);
	background: none;
	border-color: var(--color-primary);
	padding: 10px;
	width: 24px;
}
#product-detail-form .quantity .decrease {
	left: 0;
	margin: auto 0;
}
#product-detail-form .quantity .increase::before,
#product-detail-form .quantity .decrease::before {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-main);
	font-weight: 400;
	border-width: 1px;
	height: 80%;
	top: 0;
	bottom: 0;
	margin: auto;
}
#product-detail-form .quantity .increase::before {
	content: "+";
	font-size: 16px;
	padding-bottom: 4px;
	/* border-left-style: solid; */
}
#product-detail-form .quantity .decrease::before {
	content: "–";
	padding-bottom: 1px;
	font-size: 15px;
	/* border-right-style: solid; */
}
#product-detail-form .quantity .increase:hover::before {
	font-weight: 500;
}
#product-detail-form .quantity .decrease:hover::before {
	font-weight: 600;
}

.social-buttons-wrapper .link-icons {
	gap: var(--gap);
}
.social-buttons-wrapper .link-icon {
	color: var(--color-primary);
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.p-info-wrapper .social-buttons-wrapper {
	margin-top: 4px;
}
.link-icon.print {
	display: none;
}

.shp-tabs-holder {
	background: none;
}
.shp-tabs-wrapper .shp-tabs-row {
	margin-bottom: 20px;
	overflow: hidden;
}

.shp-tabs-row {
	margin-top: var(--gap);
	margin-bottom: 4px;
	background: #f6f6f6;
	border-radius: var(--border-radius);
}

.shp-tab a {
	border-style: none !important;
}

.shp-tab.active {
	font-weight: 600;
}

.type-product .shp-tab a {
	background: transparent;
}
.type-product .shp-tab.active a {
	color: var(--color-black-600);
}
body.type-product .products-related .product {
	border-style: none !important;
}
.type-product .products-related .p-code {
	display: none;
}
.type-product .products-related img {
	margin: 50px 0 50px 0;
}
@media (max-width: 1200px) {
	.type-product .products-related img {
		margin: 40px 0 50px 0;
	}
}
body.type-detail .products .product .p .p-tools button,
body.type-detail .products .product .p .p-tools > a {
	height: 42px;
}

body.type-detail .products .product:hover .flags.flags-extra .flag.flag-discount {
	transform: translatey(-38px);
}
.type-product .products-related .dkLabFavouriteProductDiv {
	display: none;
}
.type-product .products-related .flags.flags-default {
	margin: 8px 0px 0 8px;
}
.type-product .products-related .flags.flags-default .flag {
	margin-bottom: 8px;
}

.p-gifts-wrapper {
	order: 9;
	margin-top: 10px;
	margin-bottom: 10px;
}

.extended-description .p-gifts-wrapper {
	display: none;
}
/*souvisejici produkty*/
.products-related:after {
	display: none;
}
.type-product .browse-p {
	display: none;
}
.type-product .products-related .product {
	display: block;
}

.type-product .products-related {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-left: calc(var(--padding-sides) / -1);
	margin-right: calc(var(--padding-sides) / -1);
	gap: calc(var(--gap) * 1.5);
	margin-bottom: 20px;
}
.type-product .products-related .product {
	width: clamp(160px, 140px + 12vw, 350px);
	padding: 0;
}
.type-product .products-related > .product:first-child {
	margin-left: var(--padding-sides);
}
.type-product .products-related > .product:last-child {
	margin-right: var(--padding-sides);
}
@media (min-width: 992px) {
	.type-product .products-related {
		overflow: hidden;
		gap: 0;
		--relatedNumber: 4;
		margin-left: calc(var(--gap) / -2);
		margin-right: calc(var(--gap) / -2);
	}
	.type-product .products-related .product {
		margin: 0 !important;
		width: calc(100% / var(--relatedNumber));
		padding: 0 calc(var(--gap) / 2) 0 calc(var(--gap) / 2);
	}
}
@media (min-width: 1200px) {
	.type-product .products-related {
		--relatedNumber: 5;
	}
}

@media (min-width: 1440px) {
	.type-product .products-related {
		--relatedNumber: 6;
	}
}

/*pokud neni tlacitko do kosiku*/
.p-info-wrapper > .dkLabFavouriteDiv {
	order: 5;
	width: 56px;
	height: 0px !important;
	margin-left: auto !important;
	position: relative;
}
.p-info-wrapper > .dkLabFavouriteDiv > .dkLabFavDetailSpan {
	position: absolute !important;
	height: 56px !important;
	bottom: 4px;
}

@media (max-width: 1940px) {
	.p-info-wrapper > .dkLabFavouriteDiv > .dkLabFavDetailSpan::after {
		transform: translatex(0%) translatey(100%);
		right: 0;
	}
	.p-info-wrapper > .dkLabFavouriteDiv:hover > .dkLabFavDetailSpan::after {
		transform: translatex(0%) translatey(120%);
	}
}

/*Kavy*/
.description-inner img {
	max-width: 100%;
	/*max-width: 100%;*/
}

.asset30procentRightSideOverflowNatiosKapsle {
	position: relative !important;
	width: auto;
	flex: 1;
	right: 0 !important;
}

.asset30procentRightSideOverflowNatiosKapsle img {
	max-width: 166%;
}

.asset30procentRightSideOverflowNatiosKapsle {
	transform: translatex(-20%);
}

.description-inner {
	position: relative;
}
.divProduktu {
	width: 100%;
}
.sekceProduktu:nth-child(odd) {
	background-color: #f6f6f6;
}
.sekceProduktu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 250px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sekceProduktu > * {
	text-align: justify;
}
.sekceProduktu:last-child {
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 30px;
	background-color: white;
	min-height: 0px;
}

.sekceProduktu:last-child > .text70procent {
	max-width: 100%;
}

.sekceProduktu > * > table {
	text-align: center;
	border-spacing: 20px 0px;
	table-layout: fixed;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
}
.sekceProduktu > * > table > tbody > tr > td {
	width: 33.333%;
	padding: 1.25rem 0.5rem;
}
/*.sekceProduktu>*>table>tbody>tr>td>*{
  margin:5px;
}*/
.imgVTabulce {
	width: 100%;
}

/*table produkt napr vitamin c*/
.tableProdukt > tbody > tr > td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-width: 1px;
	border-style: outset;
}
.tableProdukt {
	box-shadow: 2px 2px 10px 0px grey;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
	.imghide_pc {
		display: none;
	}
	.text100procent {
		max-width: 90%;
		justify-self: center;
		width: 90%;
	}
	.text70procent {
		max-width: 60%;
		justify-self: center;
		/*padding-right: 3%;*/
		margin-left: 5%;
		margin-right: auto;
	}
	.text70procentStred {
		max-width: 70%;
		justify-self: center;
		padding-left: 2%;
		padding-right: 2%;
	}
	.asset15procentStred {
		max-width: 15%;
		justify-self: center;
	}
	.asset30procent {
		max-width: 30%;
		margin-bottom: -5%;
	}
	.asset30procentBezMarginu {
		max-width: 30%;
		margin: auto;
	}
	.asset30procentRightSideOverflowNatiosKapsle {
		max-width: 45%;
		position: absolute;
		right: 20%;
	}
	.text60procent {
		width: 50%;
		max-width: 50%;
		justify-self: center;
		margin-left: 5%;
	}
	.text50procent {
		max-width: 45%;
		justify-self: center;
		margin: auto;
		margin-right: 5%;
	}
	.text60procentStred {
		max-width: 60%;
		justify-self: center;
		padding-left: 2%;
		padding-right: 2%;
	}
	.text50procentvlevo {
		max-width: 45%;
		justify-self: center;
		margin: auto;
		margin-left: 5%;
	}
	.asset40procent {
		max-width: 40%;
		margin: auto;
	}
	.asset15procent {
		max-width: 20%;
		min-width: 10%;
		margin-bottom: -5%;
	}
	.asset25procent {
		max-width: 20%;
		min-width: 20%;
		margin-top: -5%;
	}
	.asset20procentStred {
		max-width: 20%;
		justify-self: center;
	}
	.asset20procent {
		max-width: 15%;
	}

	.asset50procent {
		max-width: 48%;
		margin: auto;
	}
	.asset30procent > span > * {
		max-width: 130%;
	}
	.asset15procent > span > * {
		max-width: 155%;
		max-height: 120%;
		margin-left: -20%;
	}
	.asset25procent > span > * {
		max-width: 150%;
		margin-left: -10%;
	}
	.asset40procent > span > * {
		width: 100%;
	}
	.asset50procent > span > * {
		width: 100%;
	}
	.sekceProduktu:last-child {
		padding-left: 5%;
	}
}

.hideeverywhere {
	display: none;
}

@media screen and (max-width: 999px) {
	.imghide {
		display: none;
	}

	.sekceProduktu p,
	.sekceProduktu li {
		text-align: left;
	}

	.text70procent,
	.text100procent {
		max-width: 100%;
		padding: 0% 10px;
		justify-self: center;
	}
	.text70procentStred {
		max-width: 100%;
		padding: 0% 10px;
		justify-self: center;
	}
	.asset15procentStred {
		max-width: 60%;
		justify-self: center;
	}
	.asset30procent,
	.asset30procentBezMarginu {
		max-width: 70%;
	}
	.asset30procentRightSideOverflowNatiosKapsle {
		max-width: 100%;
	}
	.text60procent,
	.text50procentStred {
		width: 100%;
		max-width: 100%;
		padding: 0% 3%;
		justify-self: center;
	}
	.text50procent {
		max-width: 100%;
		padding: 0% 3%;
		justify-self: center;
	}
	.text50procentvlevo {
		max-width: 100%;
		padding: 0% 3%;
		justify-self: center;
	}
	.asset40procent {
		max-width: 100%;
	}
	.asset50procent {
		max-width: 100%;
	}
	.asset15procent {
		max-width: 60%;
	}
	.asset25procent,
	.asset20procentStred {
		max-width: 60%;
	}
	.asset30procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset15procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset25procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset40procent > span > * {
		width: 100%;
	}
	.sekceProduktu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sekceProduktu > * > table {
		width: 100%;
	}
	.nutricniHodnoty {
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}
	.assetHideMobile {
		display: none;
	}

	.description-inner {
		padding: 0;
	}
}

/*Cards*/
.cards {
	display: flex;
	gap: var(--gap);
}

.card {
	border-radius: var(--border-radius);
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	flex: 1;
}

.card,
.card .card-bg {
	aspect-ratio: 1/1.4;
}

@media (max-width: 768px) {
	.cards {
		flex-direction: column;
	}
	.card {
		max-height: 550px;
	}
}

@supports not (aspect-ratio: 1/1) {
	.card,
	.card .card-bg {
		height: clamp(400px, 32vw, 600px) !important;
	}
}

.card > div {
	grid-row: 1;
	grid-column: 1;
}

.card .card-bg {
	position: relative;
	display: flex;
	z-index: 0;
}

.card .card-text {
	z-index: 2;
	margin-top: auto;
	padding: 10px 20px;
	position: relative;
	color: white;
	font-size: 24px;
}
.card h3 {
	color: white;
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0 0.75em;
}
.card p {
	font-size: 0.65em;
	text-align: left;
}

.card .card-text > * {
	z-index: 5;
	position: relative;
}
.card .card-text::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 20%, 50%);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	z-index: 1;
}

@media (max-width: 768px) {
	#product-detail-form > .row {
		grid-template-columns: 1fr;
	}
	#product-detail-form > .row .p-image-wrapper {
		padding-right: 0;
	}
	.type-product .products-related .p > a {
		margin-bottom: 0 !important;
	}
}

@media (max-width: 400px) {
	#dkLabFavouriteDiv {
		margin-left: auto !important;
	}
	#product-detail-form .add-to-cart {
		height: auto;
	}
}

@media (max-width: 1000px) {
	.description-inner .asset50procent img,
	.description-inner .asset40procent img,
	.description-inner .asset30procent img {
		max-width: min(460px, 100%);
		display: block;
		margin: auto;
		max-height: 460px;
	}
}

/*Natios daruje v popisku - uprava vlozeneho divu pres JS*/
.natios-daruje-blok {
	background: hsla(222, 70%, 30%, 0.06);
	padding: 30px 10px 30px 20px;
	border-radius: var(--border-radius);
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.natios-daruje-blok img {
	max-width: 170px;
	display: block;
	transition: transform 0.3s ease-in-out;
}

.natios-daruje-blok img:hover {
	transform: scale(1.15);
}
@media (min-width: 1600px) {
	.natios-daruje-blok {
		max-width: 80%;
	}
}
@media (max-width: 768px) {
	.natios-daruje-blok {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.natios-daruje-blok img {
		margin: auto;
		max-width: 200px;
	}
	.natios-daruje-blok p {
		margin: auto;
		max-width: 330px;
		margin-bottom: 10px;
	}
}

/*ikonky*/
.product-icons {
	display: flex;
	flex-wrap: wrap;
	max-width: 760px;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
.product-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.33%;
	padding: 10px 20px;
	gap: 10px;
	text-align: center;
}
.product-icons.three .product-icon {
	width: 33.33%;
}
.product-icons.four .product-icon {
	width: 25%;
}
@media (max-width: 768px) {
	.product-icon.four {
		width: 50% !important;
		gap: 20px;
	}
	.product-icons > .product-icon {
		display: none;
	}
	.product-icons > .product-icon:nth-child(-n + 6) {
		display: flex;
	}
}
@media (max-width: 560px) {
	.product-icon {
		width: 100% !important;
		gap: 20px;
	}
}
