/*rozložení produktu*/
:root {
	--productCategoryGrid: 2.7em 4.2em 1.467em 1.2em;
	--productCategoryGrid: 2.6em 4em 1.467em 1.2em;
	--marginProductInfo: 0.5em;
}
.product .p > a,
.product .p .p-in .p-in-in > a,
.product .ratings-wrapper,
.product .p-bottom .p-desc {
	margin: 0;
	padding: 0;
	min-height: auto;
}

.products .product .p .p-in {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	padding: 0;
	font-size: 14px;
	margin-top: var(--marginProductInfo);
	position: relative;
}

.products .product .p .p-in-in,
.products .product .p .p-bottom > div {
	display: grid;
	grid-template-rows: var(--productCategoryGrid);
	gap: 0.4em;
	grid-row: 1;
	grid-column: 1;
	font-size: inherit;
}

.products .product .p .p-bottom,
.products .product .p .p-in-in {
	height: 100%;
	grid-row: 1;
	grid-column: 1;
}

.product .p .p-in .p-in-in > a {
	color: var(--color-black-800);
	font-weight: 600;
	height: auto;
	font-size: inherit;
	grid-row: 1;
}

.product .p .p-in .p-in-in > a > span {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.3em;
	overflow: hidden;
}

.products .product .p .p-in-in .ratings-wrapper {
	grid-row: 3;
	display: grid;
	grid-template-columns: max-content 1fr;
}

.products .product .p .p-in-in .ratings-wrapper .availability {
	grid-column: 1;
	grid-row: 1;
	margin: 0;
	font-size: 0.9em;
}

.products .product .p .p-in-in .ratings-wrapper .stars-wrapper {
	grid-column: 2;
	grid-row: 1;
	margin: auto 0 auto auto;
	position: relative;
	top: auto;
	left: auto;
	right: 3px;
}

.product .p-bottom .p-desc {
	grid-row: 2;
	font-size: 1em;
	max-height: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	color: var(--color-black-200);
	line-height: 1.3em;
}
.products .product .p .p-bottom .prices {
	grid-row: 4;
	margin: 0;
}
.products .product .p .p-bottom .prices .price-final strong {
	font-size: 1.2em;
	font-weight: 800;
}

/*do košíku*/
.products .product .p .p-tools {
	position: absolute;
	top: calc(var(--marginProductInfo) * -1);
	transform: translatey(-100%);
	width: 100%;
}

.products .product .p .p-tools button,
.products .product .p .p-tools > a {
	width: 100%;
	opacity: 0;
	border-radius: var(--border-radius);
	border-style: none;
	background: var(--color-primary);
	height: 46px;
	font-size: 1em;
	font-weight: 600;
	font-family: var(--ff-main) !important;
	letter-spacing: 0.2px;
	padding: 0;
	transition: background 0.2s ease;
}
.products .product .p .p-tools button:hover,
.products .product .p .p-tools > a:hover {
	background: var(--color-primary-hover);
}

.products .product:hover .p .p-tools button,
.products .product:hover .p .p-tools > a {
	opacity: 1;
}

.products .product:hover .p .p-tools > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products .product .p .p-tools button::before,
.products .product .p .p-tools > a::before {
	display: none;
}

/*vlajky*/
.flags .flag {
	border-radius: calc(var(--border-radius) - 2px);
}

.flags.flags-default .flag {
	background: var(--color-primary-o90) !important;
	font-weight: 400;
	margin-bottom: 0.3em;
	padding: 6px 8px;
	font-size: 12px;
	-webkit-transition: none;
	transition: none;
}

.flags.flags-default {
	padding-top: 0px;
	margin-top: 10px;
	margin-left: 10px;
	z-index: 3;
}

/*akční cena*/
.flags-extra {
	bottom: 10px;
	right: 0px;
}

.products .product:hover .flags.flags-extra .flag.flag-discount {
	transform: translatey(-42px);
}
.flags.flags-extra .flag.flag-discount {
	border-radius: var(--border-radius) !important;
	background: red !important;
	color: white;
	margin: 0 5px 0 0;
	width: auto;
	height: auto;
	padding: 5px 10px !important;
	gap: 2px;
	max-width: none;
	transition: transform 0.4s ease;
}
.flags-extra .flag.flag-discount span {
	font-size: 1em !important;
	margin: auto;
	font-weight: 600;
}
.flags-extra .flag.flag-discount .price-save {
	font-size: 1em !important;
}

/*uprava rozložení pro hl stránku*/
.in-index .products-block .product img {
	margin: 60px 0px 50px 0px;
}

.in-index .products-block .product .p .p-in-in {
	grid-template-rows: max-content 1.55em;
	--marginProductInfo: 0.4em;
	gap: 0;
}

.in-index .products-block .product .p .p-bottom > div {
	display: block;
	height: 100%;
}

.in-index .products-block .product .p .p-bottom > div .prices {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.in-index .products-block .product .p .p-in {
	font-size: 14px;
}

.in-index .products-block .product .p .p-in .p-in-in > a {
	-webkit-line-clamp: 4;
	line-height: 1.3;
	margin-bottom: 0.2em;
	font-weight: 500;
}

.in-index .products-block .product .p .p-in-in .ratings-wrapper {
	grid-row: 2;
	margin-top: 4px;
}
.in-index .products-block .product .availability,
.in-index .products-block .product .p-desc {
	display: none;
}
.in-index .products-block .product .p .p-tools button,
.in-index .products-block .product .p .p-tools > a {
	height: 42px;
}
.in-index .products-block .product .flags .flag {
	display: none;
}
.in-index .products-block .product .flags .flag:first-child,
.in-index .products-block .product .flags .flag:nth-child(2) {
	display: block;
}
.in-index .products-block .product:hover .flags.flags-extra .flag.flag-discount {
	transform: translatey(-38px);
}

@media (max-width: 1200px) {
	.flags.flags-default {
		margin-top: 8px;
		margin-left: 8px;
	}
	.product .p .p-in .p-in-in > a > span {
		-webkit-line-clamp: 3;
	}
}
