.in-index .content {
	overflow: hidden;
	padding: 0;
	margin: 0 20px;
}
.in-index .products {
	display: flex;
	overflow: visible;
	flex-wrap: nowrap;
	transition: transform 0.3s linear;
	transform: translatex(calc(var(--translateXJS) * -1 / var(--SliderPocetProduktuCalc) * var(--SliderPocetProduktu)));
	--translateXJS: 0%;
	--SliderPocetProduktu: 6;
	--SliderCastProduktu: 0.3;
	--SliderPocetProduktuCalc: calc(var(--SliderPocetProduktu) + var(--SliderCastProduktu));
}

.in-index .products .product {
	width: calc(100% / (var(--SliderPocetProduktuCalc)));
	padding: 0 7px !important;
	border-style: none !important;
	user-select: none;
}
.in-index .products .product a {
	user-select: none;
	-webkit-user-drag: none;
}
.in-index .products .product img {
	pointer-events: none;
}

.in-index .p-code {
	display: none;
}
