/*vlajecky homepage*/
.slick-list .flags .flag {
	display: none;
}
.slick-list .flags .flag:first-child {
	display: block;
}

/*produkty na home*/
.products-block.products .slick-list .product img {
	margin: 50px 0 40px !important;
}

.products-block.products .slick-list .product {
	margin: 5px;
}

.products.slick-slider .product .p .p-in {
	margin-top: 0.5em;
}

.products.slick-slider .product .p .p-in-in {
	grid-template-rows: max-content 1.55em;
}

.products.slick-slider .product .p .p-bottom > div {
	display: block;
	height: 100%;
}

.products.slick-slider .product .p .p-bottom > div .prices {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.products.slick-slider .product .p .p-in-in .name,
.products.slick-slider .product .p .p-in-in .name span {
	-webkit-line-clamp: 4;
	font-size: 0.95rem;
}

.products.slick-slider .product .p .p-bottom .p-desc {
	display: none;
}

.products.slick-slider .product .p .p-in-in .ratings-wrapper {
	grid-row: 2;
	margin: auto;
}
.products.slick-slider .product .p .p-in-in .ratings-wrapper .stars-wrapper {
	margin: 0 0 0 auto;
	top: 2px;
}

.products.slick-slider .p-tools {
	transform: translatey(-120%);
}
