:root {
	--slider-product-height: 150px;
}

.in-index .content {
	padding: 0;
	margin: 0px;
}
.in-index .products {
	display: flex;
	overflow: visible;
	flex-wrap: nowrap;
	transition: transform 0.2s linear;
	margin-left: calc(var(--gap) / -1);
	margin-bottom: 25px;
}

/* .in-index .products .product a {
	user-select: none;
	-webkit-user-drag: none;
}
.in-index .products .product img {
	pointer-events: none;
} */

.in-index .p-code {
	display: none;
}

.sliderWrap {
	position: relative;
}

.sliderWrap .slider {
	overflow: hidden;
}
.in-index .products .product {
	width: calc(100% / (var(--SliderPocetProduktuCalc)));
	padding: 0px 0px 0px var(--gap) !important;
	border-style: none !important;
	user-select: none;
}

@media (max-width: 992px) {
	.in-index .products .product {
		width: clamp(120px, 100px + 8vw, 350px);
		padding: 0px var(--gap) 0px 0px !important;
	}
	.in-index .products-block .slider-arrow {
		display: none;
	}
	.in-index .products {
		overflow-x: scroll;
		overflow-y: hidden;
		margin-bottom: 20px;
	}
	.sliderWrap {
		margin-right: calc(var(--padding-sides) / -1) !important;
		margin-left: calc(var(--padding-sides) / -1) !important;
	}
	.in-index .products > .product:first-child {
		margin-left: var(--padding-sides);
	}
}

@media (min-width: 992px) {
	.in-index .products {
		--SliderPocetProduktuCalc: calc(var(--SliderPocetProduktu) + var(--SliderCastProduktu));
		flex-grow: 4; /*pocet produktu pro JS*/
		flex-shrink: 0; /*overflow pro JS*/
		--SliderPocetProduktu: 4;
		--SliderCastProduktu: 0;
	}
}

@media (min-width: 1200px) {
	.in-index .products {
		flex-grow: 5; /*pocet produktu pro JS*/
		flex-shrink: 0; /*overflow pro JS*/
		--SliderPocetProduktu: 5;
		--SliderCastProduktu: 0;
	}
}

@media (min-width: 1440px) {
	.in-index .products {
		flex-grow: 6; /*pocet produktu pro JS*/
		flex-shrink: 0; /*overflow pro JS*/
		--SliderPocetProduktu: 6;
		--SliderCastProduktu: 0;
	}
}

@media (min-width: 1720px) {
	.in-index .products {
		flex-grow: 7; /*pocet produktu pro JS*/
		flex-shrink: 0; /*overflow pro JS*/
		--SliderPocetProduktu: 7;
		--SliderCastProduktu: 0;
	}
}
