/*header*/
#header .header-top .top-nav-button-login:hover::before {
	content: "Prihlásenie / Registrácia";
}
#header .header-top .top-nav-button-account:hover::before {
	content: "Môj účet";
}
.dkLabFavHeaderIconBtn:hover::after {
	content: "Obľúbené produkty";
}
.user-action-in .user-action-cart {
	right: 10px;
}

/*objednavka*/
.in-krok-1 .order-summary {
	display: grid;
}

.in-krok-1 .checkout-box {
	order: 2;
	width: 440px;
	padding: 20px 20px;
	max-width: 100%;
	margin-left: auto !important;
	margin-right: 00px !important;
	margin-top: 40px !important;
	background: var(--color-primary-100);
	border-radius: var(--border-radius);
}

.ordering-process #header .header-top .top-nav-button-login:hover::before,
.ordering-process #header .header-top .top-nav-button-account:hover::before {
	display: none;
}

/*footer*/
.custom-footer__banner95 {
	display: none;
}
.custom-footer__banner94 .banner {
	overflow: visible;
}

@media (max-width: 767px) {
	.in-krok-1 .checkout-box {
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.dkLabFavHeaderIconBtn:hover::after {
		transform: translatex(-50%);
	}
}

.user-action-login.popup-widget {
	right: 121px !important;
}

.ordering-process .user-action-login.popup-widget {
	right: 5px !important;
}
