/*footer*/
.custom-footer__banner95 {
	display: none;
}
.custom-footer__banner94 .banner {
	overflow: visible;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.dkLabFavHeaderIconBtn:hover::after {
		transform: translatex(-50%);
	}
}
